force-app/main/default/flows/AccountingDetailAutoUpdateForOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checkAccountingDetail</name>
        <label>請求支払明細を判定</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>decisionOrderStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>hasAccountingDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAllAccountingDetail</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteAllAccountingDetail</targetReference>
            </connector>
            <label>請求支払明細が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionOrderStatus</name>
        <label>注文状態を判定</label>
        <locationX>380</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>AccountingDetailAutoCreateForOrderSubFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDummyInvoiceDocumentId</targetReference>
            </connector>
            <label>状態：キャンセル</label>
        </rules>
    </decisions>
    <decisions>
        <description>配送会社が 9901 （マルエスフリージングジャンクション）の場合
支出 の 仕分明細 作成しないこと</description>
        <name>DeliveryCompanyAvailability</name>
        <label>配送会社を判定</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isSubContractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCompany__r.AccountCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9901</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCompany__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcontractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubcontractFee__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createPaymentDetail</targetReference>
            </connector>
            <label>下請け業者</label>
        </rules>
    </decisions>
    <decisions>
        <name>desicionBillingPriceConfirmed</name>
        <label>請求不可を判定</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>DeliveryCompanyAvailability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPriceConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CancelFee__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createInvoiceDetail</targetReference>
            </connector>
            <label>請求ある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subcontracFee_F</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.SubcontractFee__c}, 0) + BLANKVALUE({!$Record.AncillaryWorkFee__c}, 0) + BLANKVALUE({!$Record.WaitTimeFee__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>注文の請求・支払明細自動更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文の請求・支払明細自動更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createInvoiceDetail</name>
        <label>請求明細(キャンセル料)を作成</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>DeliveryCompanyAvailability</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountItem__c</field>
            <value>
                <stringValue>1_90</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingType__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.CancelFee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.BillingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAccount__c</field>
            <value>
                <elementReference>$Record.InvoiceAccount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDocument__c</field>
            <value>
                <elementReference>getDummyInvoiceDocumentId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <stringValue>キャンセル料</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderHeader__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetDepartment__c</field>
            <value>
                <stringValue>受注課</stringValue>
            </value>
        </inputAssignments>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createPaymentDetail</name>
        <label>支払明細(キャンセル料)を作成</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>AccountItem__c</field>
            <value>
                <stringValue>2_90</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingType__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.SubcontractFee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.SubcontractBillingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAccount__c</field>
            <value>
                <elementReference>$Record.ShippingCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDocument__c</field>
            <value>
                <elementReference>getDummyInvoiceDocumentId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <stringValue>キャンセル料</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderHeader__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetDepartment__c</field>
            <value>
                <stringValue>受注課</stringValue>
            </value>
        </inputAssignments>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>deleteAllAccountingDetail</name>
        <label>請求支払明細を削除</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>decisionOrderStatus</targetReference>
        </connector>
        <inputReference>getAllAccountingDetail</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getAllAccountingDetail</name>
        <label>請求支払明細を取得</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkAccountingDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDummyInvoiceDocumentId</name>
        <label>Dummy請求書Idを取得</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desicionBillingPriceConfirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1900-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAllAccountingDetail</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13 AND 14</filterLogic>
        <filters>
            <field>BillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SubcontractBillingDate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InvoiceAccount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CancelFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TollFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AncillaryWorkFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SubcontractFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WaitTimeFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FuelSurchage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CargoInsuranceCost__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCompany__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Reception</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OrderHeader__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>AccountingDetailAutoCreateForOrderSubFlow</name>
        <label>注文の請求・支払明細自動作成サブフロー</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <flowName>AccountingDetailAutoCreateForOrderSubFlow</flowName>
        <inputAssignments>
            <name>OrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>600</triggerOrder>
    <variables>
        <name>accountingDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>accountingDetailToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>accountingDetailToUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filterAccountingDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>itemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
