force-app/main/default/flows/AccountingDetailAutoDeleteInsertForDispatchDetail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>AccountingDetailCreation</name>
        <label>仕分明細の作成</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>作成しない</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subcontractor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.ShippingCompany__r.AccountCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9901</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>subcontracFee</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcontractor__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcontractor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDummyInvoiceDoc</targetReference>
            </connector>
            <label>作成</label>
        </rules>
    </decisions>
    <decisions>
        <name>AccountingDetailDeletion</name>
        <label>仕分明細の削除</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>AccountingDetailCreation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>作成</defaultConnectorLabel>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Subcontractor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PaymentRecord</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAccountingDetail</targetReference>
            </connector>
            <label>削除</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>subcontracFee</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.OrderHeader__r.SubcontractFee__c}, 0) + BLANKVALUE({!$Record.OrderHeader__r.AncillaryWorkFee__c}, 0) + BLANKVALUE({!$Record.OrderHeader__r.WaitTimeFee__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>配車明細の請求・支払明細自動作成・削除 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車明細の請求・支払明細自動作成・削除</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAccountingDetail</name>
        <label>仕分明細を作成</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>AccountItem__c</field>
            <value>
                <stringValue>2_90</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingType__c</field>
            <value>
                <stringValue>2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>subcontracFee</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.OrderHeader__r.SubcontractBillingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAccount__c</field>
            <value>
                <elementReference>$Record.Subcontractor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDocument__c</field>
            <value>
                <elementReference>GetDummyInvoiceDoc.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <stringValue>下請け運賃</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderHeader__c</field>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetDepartment__c</field>
            <value>
                <stringValue>受注課</stringValue>
            </value>
        </inputAssignments>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAccountingDetail</name>
        <label>仕分明細を削除</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AccountingDetailCreation</targetReference>
        </connector>
        <inputReference>PaymentRecord</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetDummyInvoiceDoc</name>
        <label>ダミー請求書を取得</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAccountingDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1900-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PaymentRecord</name>
        <label>支払のレコード</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountingDetailDeletion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountItem__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2_90</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>下請け運賃</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PaymentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subcontractor__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DispatchDetail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
