force-app/main/default/flows/AccountingDetailAutoCreateForOrderSubFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addToAccountingDetailList02</name>
        <label>請求支払明細リストに追加</label>
        <locationX>138</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>accountingDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transformPaymentAccountingDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPaymentItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToInvoiceList</name>
        <label>請求支払明細リストに追加</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>accountingDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transformNewAccountingDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInvoiceItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInvoiceItemList</name>
        <label>請求の項目リストを設定</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>運賃</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>付帯作業</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>待機料</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>燃料サーチャージ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>通行料</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>貨物保険料</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInvoiceItemList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPaymentItemList</name>
        <label>支払の項目リストを設定</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>paymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>下請け運賃</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>待機料</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>付帯作業</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>paymentItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>貨物保険料</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPaymentItemList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decisionAmount</name>
        <label>金額を判定</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>loopInvoiceItemList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>haveAmount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transformNewAccountingDetail.Amount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToInvoiceList</targetReference>
            </connector>
            <label>金額がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionInvoiceList</name>
        <label>請求支払明細リストを判定</label>
        <locationX>182</locationX>
        <locationY>2042</locationY>
        <defaultConnectorLabel>空白</defaultConnectorLabel>
        <rules>
            <name>hasInvoicdList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountingDetailList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopAccountingDetailList</targetReference>
            </connector>
            <label>空白ではない</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionPaymentAmount</name>
        <label>金額を判定</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>loopPaymentItemList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasPaymentAmount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transformPaymentAccountingDetail.Amount__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addToAccountingDetailList02</targetReference>
            </connector>
            <label>金額がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>DeliveryCompanyAvailability</name>
        <label>配送会社（下請け）の有無</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnector>
            <targetReference>decisionInvoiceList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>SubContractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRecord.ShippingCompany__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subcontractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRecord.ShippingCompany__r.AccountCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>9901</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPaymentItemList</targetReference>
            </connector>
            <label>下請け業者</label>
        </rules>
    </decisions>
    <decisions>
        <name>desicionBillingPriceConfirmed</name>
        <label>請求不可を判定</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>DeliveryCompanyAvailability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>請求不可</defaultConnectorLabel>
        <rules>
            <name>isFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRecord.BillingPriceConfirmed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInvoiceItemList</targetReference>
            </connector>
            <label>請求ある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>注文の請求・支払明細自動作成サブフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文の請求・支払明細自動作成サブフロー</label>
    <loops>
        <name>loopAccountingDetailList</name>
        <label>請求支払明細リストをループ</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <collectionReference>accountingDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createInvoiceList</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopInvoiceItemList</name>
        <label>請求の項目をループ</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>invoiceItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>transformNewAccountingDetail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DeliveryCompanyAvailability</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopPaymentItemList</name>
        <label>支払の項目をループ</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>paymentItemList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>transformPaymentAccountingDetail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decisionInvoiceList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createInvoiceList</name>
        <label>請求支払明細を作成</label>
        <locationX>138</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>loopAccountingDetailList</targetReference>
        </connector>
        <inputReference>loopAccountingDetailList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetDummyInvoiceDoc</name>
        <label>ダミー請求書を取得</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>desicionBillingPriceConfirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1900-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDummyInvoiceDoc</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>transformNewAccountingDetail</name>
        <label>請求明細に転記</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>decisionAmount</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>AccountingDetail__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountItem__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!loopInvoiceItemList},
  &apos;貨物保険料&apos;, &apos;1_92&apos;,
  &apos;1_90&apos;
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AccountingType__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>CASE({!loopInvoiceItemList},
  &apos;運賃&apos;,{!OrderRecord.Amount__c},
  &apos;付帯作業&apos;, {!OrderRecord.AncillaryWorkFee__c},
  &apos;待機料&apos;, {!OrderRecord.WaitTimeFee__c},
  &apos;通行料&apos;, {!OrderRecord.TollFee__c},
  &apos;燃料サーチャージ&apos;, {!OrderRecord.FuelSurchage__c},
  &apos;貨物保険料&apos;, {!OrderRecord.CargoInsuranceCost__c},
  null
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.BillingDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>InvoiceAccount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.InvoiceAccount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopInvoiceItemList</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderHeader__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TargetDepartment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>受注課</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>InvoiceDocument__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetDummyInvoiceDoc.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transformPaymentAccountingDetail</name>
        <label>支払明細に転記</label>
        <locationX>270</locationX>
        <locationY>1466</locationY>
        <connector>
            <targetReference>decisionPaymentAmount</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>AccountingDetail__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AccountingType__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TargetDepartment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>受注課</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Item__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>loopPaymentItemList</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AccountItem__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>CASE({!loopPaymentItemList},
  &apos;貨物保険料&apos;, &apos;2_92&apos;,
  &apos;2_90&apos;
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Number</formulaDataType>
                    <formulaExpression>CASE({!loopPaymentItemList},
  &apos;下請け運賃&apos;,{!OrderRecord.SubcontractFee__c},
  &apos;付帯作業&apos;, {!OrderRecord.AncillaryWorkFee__c},
  &apos;待機料&apos;, {!OrderRecord.WaitTimeFee__c},
  &apos;貨物保険料&apos;, {!OrderRecord.CargoInsuranceCost__c},
  null
)</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.SubcontractBillingDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>InvoiceAccount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.ShippingCompany__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderHeader__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>OrderRecord.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>InvoiceDocument__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetDummyInvoiceDoc.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>accountingDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filterAccountingDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountingDetail__c</objectType>
    </variables>
    <variables>
        <name>invoiceItemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderHeader__c</objectType>
    </variables>
    <variables>
        <name>paymentItemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
