force-app/main/default/flows/AutoGenWeeklyOffSchedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>UniquekeyCollection２に定休日の一意キーを格納</description>
        <name>AddToCollection2</name>
        <label>定休日コレクションに追加</label>
        <locationX>528</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UniquekeyCollectionWeeklyOff</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrievedDriverScheduleLoop.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RetrievedDriverScheduleLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToProcessLogList</name>
        <label>ProcessLogListに追加</label>
        <locationX>264</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>ProcessLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProcessLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ProcessLogClear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToProcessLogList1</name>
        <label>ProcessLogListに追加</label>
        <locationX>176</locationX>
        <locationY>3090</locationY>
        <assignmentItems>
            <assignToReference>ProcessLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProcessLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessLog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToUniqueKeyCollectionDispatched</name>
        <label>配車済みコレクションに追加</label>
        <locationX>264</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UniquekeyCollectionDispatched</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrievedDriverScheduleLoop.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RetrievedDriverScheduleLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToUniquekeyCollectionOther</name>
        <label>その他コレクションに追加</label>
        <locationX>792</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>UniquekeyCollectionOther</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RetrievedDriverScheduleLoop.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RetrievedDriverScheduleLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddWorkingDriverSchedule</name>
        <label>勤務：新規作成用リストへ追加</label>
        <locationX>792</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>DriverScheduleForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDriverSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SingleDatePlus1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalPLus60</name>
        <label>期間後の日付を計算</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>TodayPlus60</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAutoGenWeeklyOffPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DriverScheduleRetrieval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalWeek</name>
        <label>定休日のテキスト集合の確定</label>
        <locationX>946</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>AllWeeklyOff</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempAllOfWeeklyOff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateWorkingDriverSchedule</name>
        <label>勤務：日付情報の割り当て</label>
        <locationX>792</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempUniquekey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.WorkStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddWorkingDriverSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorProcessLog</name>
        <label>エラー処理ログ</label>
        <locationX>264</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>定休日勤務情報の自動生成</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AutoGenWeeklyOffSchedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessLog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessingLog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>メール内容</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ToEmailGroupAddresses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DispatchGroup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToProcessLogList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogClear</name>
        <label>処理ログクリア</label>
        <locationX>264</locationX>
        <locationY>2340</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>SingleDatePlus1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogError</name>
        <label>処理ログ異常</label>
        <locationX>440</locationX>
        <locationY>2982</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>定休日勤務情報の自動生成</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AutoGenWeeklyOffSchedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessLog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>必要なドライバーの勤務情報の生成にエラー発生しました。</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AddToProcessLogList1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogNormal</name>
        <label>処理ログ正常</label>
        <locationX>176</locationX>
        <locationY>2982</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>定休日勤務情報の自動生成</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AutoGenWeeklyOffSchedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToProcessLogList1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleDatePlus1</name>
        <label>中間計算用日付＋１</label>
        <locationX>660</locationX>
        <locationY>2532</locationY>
        <assignmentItems>
            <assignToReference>SingleDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckDatePlus60</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>step1</name>
        <label>基本情報の割り当て</label>
        <locationX>946</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TheExeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalWeek</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>中間計算用日付に定休日適用開始日を適用</description>
        <name>step2</name>
        <label>中間計算用日付の初期化</label>
        <locationX>814</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>SingleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TheExeRecord.WeeklyOffStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDatePlus60</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>step3</name>
        <label>定休：日付情報の割り当て</label>
        <locationX>528</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempUniquekey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.WorkStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WeeklyOff</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>step4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>step4</name>
        <label>定休：新規作成用リストへ追加</label>
        <locationX>528</locationX>
        <locationY>2232</locationY>
        <assignmentItems>
            <assignToReference>DriverScheduleForInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDriverSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SingleDatePlus1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>中間計算用日付に実行日付を適用</description>
        <name>X2</name>
        <label>中間計算用日付の初期化２</label>
        <locationX>1078</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>SingleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckDatePlus60</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDatePlus60</name>
        <label>中間計算用日付が現在時間＋60日になったか</label>
        <locationX>946</locationX>
        <locationY>1908</locationY>
        <defaultConnector>
            <targetReference>TheExeRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&gt;現在日付＋60</defaultConnectorLabel>
        <rules>
            <name>StartCal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfContain</targetReference>
            </connector>
            <label>&lt;=現在日付＋60</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfContain</name>
        <label>一意キーと定休日の判断</label>
        <locationX>660</locationX>
        <locationY>2016</locationY>
        <defaultConnector>
            <targetReference>SingleDatePlus1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの処理</defaultConnectorLabel>
        <rules>
            <name>Do1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniquekeyCollectionDispatched</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorProcessLog</targetReference>
            </connector>
            <label>存在している「配車済み」レコード</label>
        </rules>
        <rules>
            <name>Do2</name>
            <conditionLogic>1 AND NOT( 2 )</conditionLogic>
            <conditions>
                <leftValueReference>AllWeeklyOff</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempDateWeekDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UniquekeyCollectionWeeklyOff</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>step3</targetReference>
            </connector>
            <label>定休日 &amp;&amp; !定休レコード</label>
        </rules>
        <rules>
            <name>working</name>
            <conditionLogic>NOT(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>AllWeeklyOff</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempDateWeekDay</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UniquekeyCollectionWeeklyOff</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UniquekeyCollectionDispatched</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UniquekeyCollectionOther</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateWorkingDriverSchedule</targetReference>
            </connector>
            <label>!定休日 &amp;&amp; NotExistレコード</label>
        </rules>
    </decisions>
    <decisions>
        <name>isWeeklyOffOrXXXX</name>
        <label>配車済みか定休か</label>
        <locationX>528</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>AddToUniquekeyCollectionOther</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルト</defaultConnectorLabel>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetrievedDriverScheduleLoop.Dispatched_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToUniqueKeyCollectionDispatched</targetReference>
            </connector>
            <label>配車済み</label>
        </rules>
        <rules>
            <name>isWeeklyOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetrievedDriverScheduleLoop.WorkStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WeeklyOff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToCollection2</targetReference>
            </connector>
            <label>定休日</label>
        </rules>
    </decisions>
    <decisions>
        <name>UniqueName</name>
        <label>現在時間が定休日適用開始日より</label>
        <locationX>946</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>X2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>大きい場合</defaultConnectorLabel>
        <rules>
            <name>UniqueName_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TheExeRecord.WeeklyOffStartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>step2</targetReference>
            </connector>
            <label>小さい場合</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetAutoGenWeeklyOffPeriod</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK({!GetAutoGenWeeklyOffPeriodMeta.Value__c}), 60, VALUE({!GetAutoGenWeeklyOffPeriodMeta.Value__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ProcessingLog</name>
        <dataType>String</dataType>
        <expression>&apos;ドライバー「&apos; + {!TheExeRecord.Name} + &apos;」は&apos; + TEXT({!SingleDate}) + &apos;にすでに配車済みのため、定休の勤務情報を作成できません。&apos;</expression>
    </formulas>
    <formulas>
        <description>定休日のテキスト集合.
例：月、火、木が定休日の場合、結果：&quot;013&quot;</description>
        <name>TempAllOfWeeklyOff</name>
        <dataType>String</dataType>
        <expression>IF({!TheExeRecord.Monday__c}, &quot;0&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Tuesday__c}, &quot;1&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Wednesday__c}, &quot;2&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Thursday__c}, &quot;3&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Friday__c}, &quot;4&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Saturday__c}, &quot;5&quot;, &quot;&quot;) &amp;
IF({!TheExeRecord.Sunday__c}, &quot;6&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>中間計算用日付のが何曜日なのかを計算</description>
        <name>TempDateWeekDay</name>
        <dataType>String</dataType>
        <expression>TEXT( MOD(DATE(YEAR({!SingleDate}), MONTH({!SingleDate}), DAY({!SingleDate}))  - DATE(2025, 1, 6), 7) )</expression>
    </formulas>
    <formulas>
        <description>ループ内のドライバーID　＋　中間計算用日付のYYYYMMDD形式</description>
        <name>TempUniquekey</name>
        <dataType>String</dataType>
        <expression>{!TheExeRecord.Id}+
TEXT(YEAR({!SingleDate})) &amp; 
IF(LEN(TEXT(MONTH({!SingleDate}))) = 1, &quot;0&quot; &amp; TEXT(MONTH({!SingleDate})), TEXT(MONTH({!SingleDate}))) &amp; 
IF(LEN(TEXT(DAY({!SingleDate}))) = 1, &quot;0&quot; &amp; TEXT(DAY({!SingleDate})), TEXT(DAY({!SingleDate})))</expression>
    </formulas>
    <interviewLabel>定休日勤務情報の自動生成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>定休日勤務情報の自動生成</label>
    <loops>
        <name>RetrievedDriverScheduleLoop</name>
        <label>取得した勤務情報ループ</label>
        <locationX>176</locationX>
        <locationY>792</locationY>
        <collectionReference>DriverScheduleRetrieval</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isWeeklyOffOrXXXX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TheExeRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>TheExeRecord</name>
        <label>処理中のドライバーレコード</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <collectionReference>AllRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>step1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>必要なドライバーの勤務情報を生成する</label>
        <locationX>176</locationX>
        <locationY>2874</locationY>
        <connector>
            <targetReference>ProcessLogNormal</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <faultConnector>
            <targetReference>ProcessLogError</targetReference>
        </faultConnector>
        <inputReference>DriverScheduleForInsert</inputReference>
        <upsertExternalIdField>UniqueKey__c</upsertExternalIdField>
    </recordCreates>
    <recordCreates>
        <name>CreateProcessLog</name>
        <label>処理ログ作成</label>
        <locationX>176</locationX>
        <locationY>3198</locationY>
        <inputReference>ProcessLogList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ProcessLogStart</name>
        <label>処理ログ開始</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>AllRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <stringValue>定休日勤務情報の自動生成</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessType__c</field>
            <value>
                <stringValue>AutoGenWeeklyOffSchedule</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>AllRecords</name>
        <label>処理対象ドライバーデータ</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAutoGenWeeklyOffPeriodMeta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WeeklyOffStartDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DriverMaster__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DriverScheduleRetrieval</name>
        <label>勤務情報の取得</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RetrievedDriverScheduleLoop</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TodayPlus60</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DriverSchedule__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAutoGenWeeklyOffPeriodMeta</name>
        <label>定休日自動生成期間を取得</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalPLus60</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoGenWeeklyOffPeriod</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MFJSetting__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProcessLogStart</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-03-25</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>数式を一回だけ計算するため</description>
        <name>AllWeeklyOff</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DriverScheduleForInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>ProcessLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BulkProcessLog__c</objectType>
    </variables>
    <variables>
        <description>中間計算用日付</description>
        <name>SingleDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleDriverSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>SingleProcessLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BulkProcessLog__c</objectType>
    </variables>
    <variables>
        <name>TempDriverWeeklyOffCollection</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TodayPlus60</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>UniquekeyCollectionDispatched</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UniquekeyCollectionOther</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>「定休」のすべて勤務情報のUniquekeyを保存する場所</description>
        <name>UniquekeyCollectionWeeklyOff</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
