force-app/main/default/flows/CancelProcessFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setCancelFee_01</name>
        <label>キャンセル料率を設定（100%）</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>cancelFeeRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCancelFee_02</name>
        <label>キャンセル料率を設定（100%）</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>cancelFeeRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCancelFee_03</name>
        <label>キャンセル料率を設定（50%）</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>cancelFeeRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCancelFee_04</name>
        <label>キャンセル料率を設定（100%）</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>cancelFeeRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOrder</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>noCancelPolicyError</name>
        <label>キャンセルポリシーがないエラー</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>荷主のキャンセルポリシーが見つかりませんでした。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>decisionCancelPolicy</name>
        <label>キャンセルポリシーを判定</label>
        <locationX>941</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>noCancelPolicyError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>isPolicy_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.CancelPolicy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionLoadingDate</targetReference>
            </connector>
            <label>ポリシー1：基本的な処理</label>
        </rules>
        <rules>
            <name>isPolicy_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.CancelPolicy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionFujiLoadingDate</targetReference>
            </connector>
            <label>ポリシー2：富士エコー</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionFujiLoadingDate</name>
        <label>積込日を判定</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>isToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LoadingDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCancelFee_03</targetReference>
            </connector>
            <label>当日キャンセル</label>
        </rules>
        <rules>
            <name>isYestoday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>oneDaybeforeLoadingDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCancelFee_04</targetReference>
            </connector>
            <label>前日キャンセル</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLoadingDate</name>
        <label>積込日を判定</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>decisionStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>afterTheDayBeforeYesterday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>twoDaysbeforeLoadingDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCancelFee_01</targetReference>
            </connector>
            <label>積込日の前々日午前中以降</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionStatus</name>
        <label>状態を判定</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>dispatchCompleted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispatchCompleted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeliveryCompleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCancelFee_02</targetReference>
            </connector>
            <label>車両手配済</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cancelFee</name>
        <dataType>Currency</dataType>
        <expression>{!cancelFeeBase}*{!cancelFeeRate}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>cancelFeeBase</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c} + {!$Record.AncillaryWorkFee__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>oneDaybeforeLoadingDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT({!$Record.LoadingDate__c}- 1))</expression>
    </formulas>
    <formulas>
        <name>twoDaysbeforeLoadingDate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT({!$Record.LoadingDate__c}- 2) &amp; &quot; 12:00:00&quot;)</expression>
    </formulas>
    <interviewLabel>キャンセル処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文キャンセル処理フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateOrder</name>
        <label>注文を更新</label>
        <locationX>941</locationX>
        <locationY>1007</locationY>
        <inputAssignments>
            <field>CancelFee__c</field>
            <value>
                <elementReference>cancelFee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>815</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionCancelPolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <object>OrderHeader__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>cancelFeeRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
