force-app/main/default/flows/CannotUpdateOtherPaymentDetailAfterInvoicConfirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>errorMessage</name>
        <label>エラーメッセージ</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>請求書の状態が「処理済み」の場合、「その他支払明細」は変更できません。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>decisionDocumentStatus</name>
        <label>請求書状態を判定</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoiceDocument.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>errorMessage</targetReference>
            </connector>
            <label>処理済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionInvoiceDocumentId</name>
        <label>請求書idを判定</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasDocumentId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceDocumentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getInvoiceDocument</targetReference>
            </connector>
            <label>請求書idが存在</label>
        </rules>
    </decisions>
    <description>請求書の状態が「処理済み」の場合、「その他支払明細」は変更できません。</description>
    <environments>Default</environments>
    <interviewLabel>その他請求明細ロック（請求後） {!$Flow.CurrentDateTime}</interviewLabel>
    <label>その他支払明細ロック（請求後）</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountingDetail</name>
        <label>請求明細を取得</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionInvoiceDocumentId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OtherPaymentDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AccountingDetail__c</object>
        <outputAssignments>
            <assignToReference>InvoiceDocumentId</assignToReference>
            <field>InvoiceDocument__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getInvoiceDocument</name>
        <label>請求書を取得</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDocumentStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvoiceDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountingDetail</targetReference>
        </connector>
        <object>PaymentDetail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
