force-app/main/default/flows/ChangeProductStockAdjustQuantityFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>PutInQuantityID_F</name>
        <label>在庫調整数の在庫情報ID割り当て</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ID_F</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PutInNewPSIFromCQ.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOriginalProductStockInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PutInWarehouseID_F</name>
        <label>倉庫移動の在庫情報ID割り当て</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ID_F</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PutInNewPSIFromWTR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOriginalProductStockInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckProductStockAdjustQuantity</name>
        <label>マイナスの調整数を判断</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CheckWarehouseTransferRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Large</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductStockAdjustQuantity</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MinusProductStockAdjustQuantity</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetProductStockInfo.StockQuantity_F__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProductStockAdjustQuantityError</targetReference>
            </connector>
            <label>マイナスの調整数&gt;在庫数</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckStatus</name>
        <label>在庫情報の判断</label>
        <locationX>297</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ProductStockInfo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>PreRegistration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductStockInfo.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreRegistration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreRegistrationErrorScreen</targetReference>
            </connector>
            <label>仮登録</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTargetProductStockInfo1</name>
        <label>在庫調整は調整済みを判断</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>CheckProductStockAdjustQuantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>調整元在庫情報なし</defaultConnectorLabel>
        <rules>
            <name>HaveTargetProductStockInfo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductStockInfo.TargetProductStockInfo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarehouseTransferRequest.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WarehouseMaster.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorTargetProductStockInfo</targetReference>
            </connector>
            <label>調整元在庫情報あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWarehouseTransferRequest</name>
        <label>倉庫間移動を確認</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PutInNewPSIFromCQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>在庫数調整</defaultConnectorLabel>
        <rules>
            <name>HaveWarehouseTransferRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WarehouseMaster.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PutInNewPSIFromWTR</targetReference>
            </connector>
            <label>倉庫間移動</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ArrivalQuantity_F</name>
        <dataType>Number</dataType>
        <expression>IF (ISBLANK({!GetProductStockInfo.ArrivalQuantity__c}), 0, {!GetProductStockInfo.ArrivalQuantity__c})+ IF ({!ProductStockAdjustQuantity} &lt; 0, {!ProductStockAdjustQuantity}, (0-{!ProductStockAdjustQuantity}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>0 - 登録画面の「在庫調整数/倉庫移動数」</description>
        <name>MinusProductStockAdjustQuantity</name>
        <dataType>Number</dataType>
        <expression>0 - {!ProductStockAdjustQuantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewRecordUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))
&amp; &quot;lightning/r/ProductStockInfo__c/&quot; &amp; {!ID_F} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>WarehouseMasterCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!WarehouseMaster.recordId})
&amp;&amp;
NOT(ISBLANK({!WarehouseTransferRequest.recordId}))</expression>
    </formulas>
    <formulas>
        <name>WarehouseTransferRequestCheck</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!WarehouseTransferRequest.recordId})
&amp;&amp;
NOT(ISBLANK({!WarehouseMaster.recordId}))</expression>
    </formulas>
    <interviewLabel>在庫調情報数量調整フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>在庫情報数量調整フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>InsertNewPSIFromCQ</name>
        <label>在庫調整の在庫情報を作成</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>PutInQuantityID_F</targetReference>
        </connector>
        <inputReference>PutInNewPSIFromCQ</inputReference>
    </recordCreates>
    <recordCreates>
        <name>InsertNewPSIFromWTR</name>
        <label>倉庫移動の在庫情報を作成</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>PutInWarehouseID_F</targetReference>
        </connector>
        <inputReference>PutInNewPSIFromWTR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetProductStockInfo</name>
        <label>在庫情報を取得</label>
        <locationX>297</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductStockInfo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOriginalProductStockInfo</name>
        <label>元在庫情報を更新</label>
        <locationX>974</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArrivalQuantity__c</field>
            <value>
                <elementReference>ArrivalQuantity_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HandlingCargoCostFreeFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductStockInfo__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorTargetProductStockInfo</name>
        <label>調整元あるエラー画面</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessageTargetProductStockInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;調整元在庫情報がすでに登録されているため、この在庫には再度の調整を行うことができません。&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PreRegistrationErrorScreen</name>
        <label>仮登録エラー画面</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PreRegistrationError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;仮登録の在庫情報は調整できません。&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductStockAdjustQuantityError</name>
        <label>在庫数エラー画面</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>X1_ErrorMessageTargetProductStockInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;在庫調整数が在庫数を超えるため、この在庫には調整を行うことができません。&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ProductStockInfo</name>
        <label>在庫情報登録</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckTargetProductStockInfo1</targetReference>
        </connector>
        <fields>
            <name>HelpMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;・損害が発生した場合は、マイナスの数値を入力してください。&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;・倉庫の移動や新しい在庫を発見した場合は、プラスの数値を入力してください。&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductStockAdjustQuantity</name>
            <dataType>Number</dataType>
            <fieldText>在庫調整数/倉庫移動数</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>RemarkAdjust</name>
            <dataType>String</dataType>
            <fieldText>備考</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DetectionDate</name>
            <dataType>Date</dataType>
            <fieldText>発見日/移動日</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>WarehouseTransferRequestHeader</name>
            <fieldText>倉庫間移動</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>WarehouseTransferRequestHeader_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WarehouseTransferRequest</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>倉庫移動リンク</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ProductStockInfo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>WarehouseTransferRequest__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>WarehouseTransferRequestCheck</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>WarehouseMaster</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>入庫倉庫</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ProductStockInfo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>WarehouseMaster__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>WarehouseMasterCheck</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PayQuantity</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Ammount</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ContactDate</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChangeArrivalQuantityHeader</name>
            <fieldText>弁償・立替</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ChangeArrivalQuantityHeader_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PayQuantity</name>
                    <dataType>Number</dataType>
                    <fieldText>弁償・立替有償個数</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Ammount</name>
                    <dataType>Currency</dataType>
                    <fieldText>金額</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ContactDate</name>
                    <dataType>Date</dataType>
                    <fieldText>連絡日</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>WarehouseTransferRequest.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>WarehouseMaster.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>成功画面</label>
        <locationX>974</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!NewRecordUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;在庫情報&lt;/a&gt;を作成しました。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>171</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProductStockInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>PutInNewPSIFromCQ</name>
        <label>在庫調整の新規在庫情報を変換</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>InsertNewPSIFromCQ</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>ProductStockInfo__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArrivalInfo__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ArrivalInfo__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArrivalQuantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ProductStockAdjustQuantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ContactDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ContactDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ExpirationDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ExpirationDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LotNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.LotNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ManufactureDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ManufactureDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PayQuantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>PayQuantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductionLotNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ProductionLotNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductStockAdjustQuantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ProductStockAdjustQuantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Status__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Unit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Unit__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>WarehouseMaster__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.WarehouseMaster__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TargetProductStockInfo__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductMaster__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ProductMaster__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Ammount</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Remark__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>RemarkAdjust</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>DetectionDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>DetectionDate</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>PutInNewPSIFromWTR</name>
        <label>倉庫間移動の新規在庫情報を変換</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>InsertNewPSIFromWTR</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>ProductStockInfo__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Amount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Amount__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArrivalInfo__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ArrivalInfo__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArrivalDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>Date</formulaDataType>
                    <formulaExpression>TODAY()</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ArrivalQuantity__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ProductStockAdjustQuantity</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ExpirationDate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ExpirationDate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>LotNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.LotNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductionLotNumber__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ProductionLotNumber__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ProductMaster__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.ProductMaster__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Status__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Unit__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetProductStockInfo.Unit__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>WarehouseMaster__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>WarehouseMaster.recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>WarehouseTransferRequest__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>WarehouseTransferRequest.recordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Remark__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>RemarkAdjust</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ID_F</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProductStockInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductStockInfo__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
