force-app/main/default/flows/ChangeOrderDetailTempName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>ErrorMessage</name>
        <label>重複エラーメッセージ</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <customErrorMessages>
            <errorMessage>{!ErrorMess}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CheckDuplicate</name>
        <label>重複チェック</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Clear_temp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDuplicate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMeta</targetReference>
            </connector>
            <label>重複</label>
        </rules>
    </decisions>
    <decisions>
        <name>NameCheck</name>
        <label>名前チェック</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Has_temp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>temp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDuplicate</targetReference>
            </connector>
            <label>tempがある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ErrorMess</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!ErrorMeta.Value__c}, &quot;重複レコードがみつかりました。別の「枝番」を入力してください。&quot;)</expression>
    </formulas>
    <formulas>
        <name>NameWithoutTemp</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &apos;temp&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>一時的名を修正フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文明細の一時的名を変更フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ErrorMeta</name>
        <label>エラーメッセージメタデータ</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ErrorMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OrderDetailDuplicateErrorMessage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MFJSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDuplicate</name>
        <label>重複レコード取得</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDuplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NameWithoutTemp</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDetail__c</object>
        <sortField>SequenceNumber__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_temp</name>
        <label>tempをクリア</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameWithoutTemp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniqueKey__c</field>
            <value>
                <elementReference>NameWithoutTemp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NameCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SequenceNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrderDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
