force-app/main/default/flows/CopyPriceTableWithShippingFee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignNewPriceTable</name>
        <label>新価格管理アサイン</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newPriceTableRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceTableRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChangePriceTableInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignShippingFeeList</name>
        <label>運賃一覧アサイン</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>newShippingFeeList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewShippingFeeListLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewShippingFeeListLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeNewShippingFeeInfo</name>
        <label>新運賃の情報を変更</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>NewShippingFeeListLoop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewShippingFeeListLoop.PriceTable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newPriceTableRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignShippingFeeList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangePriceTableInfo</name>
        <label>価格管理の情報を変更</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>newPriceTableRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPriceTableRecord.OldPriceTable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceTableRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPriceTableRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPriceTableRecord.CarryOutDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CarryOutDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPriceTableRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewPriceTable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCurrentRecord</name>
        <label>価格管理をチェック</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NoRecordScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>価格管理がない</defaultConnectorLabel>
        <rules>
            <name>IsPriceTableRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PriceTableRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetShippingFeeList</targetReference>
            </connector>
            <label>価格管理が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkShippingFeeList</name>
        <label>運賃一覧を判定</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoShippingFeeListScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>運賃一覧がない</defaultConnectorLabel>
        <rules>
            <name>hasShippingFeeList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetShippingFeeList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputScreen</targetReference>
            </connector>
            <label>運賃一覧が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>DuplicateUniqueKeyError</name>
        <label>重複エラーチェック</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Duplicated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateUniqueKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateError</targetReference>
            </connector>
            <label>Duplicated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DuplicateUniqueKey</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Flow.FaultMessage}, &quot;DUPLICATE_VALUE&quot;) &amp;&amp; CONTAINS({!$Flow.FaultMessage}, &quot;UniqueKey__c&quot;)</expression>
    </formulas>
    <formulas>
        <name>NewRecordUrl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))
&amp; &quot;lightning/r/PriceTable__c/&quot; &amp; {!newPriceTableRecord.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>価格管理と運賃の一括コピーフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>価格管理と運賃の一括コピーフロー</label>
    <loops>
        <name>NewShippingFeeListLoop</name>
        <label>新運賃一覧のループ</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>GetShippingFeeList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ChangeNewShippingFeeInfo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateNewShippingFeeList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewPriceTable</name>
        <label>新価格管理を作成</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>NewShippingFeeListLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PriceTableRollBack</targetReference>
        </faultConnector>
        <inputReference>newPriceTableRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewShippingFeeList</name>
        <label>新運賃一覧を作成</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ShippingFeeRollBack</targetReference>
        </faultConnector>
        <inputReference>newShippingFeeList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetShippingFeeList</name>
        <label>運賃一覧を取得</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkShippingFeeList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PriceTable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceTableRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShippingFee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PriceTableRecord</name>
        <label>価格管理のレコード</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckCurrentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PriceTable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>PriceTableRollBack</name>
        <label>価格管理作成にロールバック</label>
        <locationX>710</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>DuplicateUniqueKeyError</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <description>運賃の作成は失敗したので、ロールバックする</description>
        <name>ShippingFeeRollBack</name>
        <label>運賃作成にロールバック</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Error2</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>DuplicateError</name>
        <label>重複エラー</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DuplicateErrorMessage</name>
            <fieldText>&lt;p&gt;重複の価格管理レコードが見つかりました。別の「実施日」を選択してください。&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>価格管理作成エラー</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreatePriceTable</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;新価格管理を作成しませんでした：&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error2</name>
        <label>運賃作成エラー</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCreateShippingFeeList</name>
            <fieldText>&lt;p&gt;新価格管理レコードの運賃が作成できませんでした：&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InputScreen</name>
        <label>入力画面</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignNewPriceTable</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PriceTableRecord.Name</elementReference>
            </defaultValue>
            <fieldText>新価格管理名</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CarryOutDate</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>実施日</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoRecordScreen</name>
        <label>価格管理がない画面</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;価格管理のレコードが見つかりませんでした。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoShippingFeeListScreen</name>
        <label>運賃一覧がない画面</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoShippingFeeListMessage</name>
            <fieldText>&lt;p&gt;運賃一覧が見つかりませんでした。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>成功画面</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;価格管理と運賃のコピーに成功しました。&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!NewRecordUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PriceTableRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newPriceTableRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PriceTable__c</objectType>
    </variables>
    <variables>
        <name>newShippingFeeList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShippingFee__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
