force-app/main/default/flows/CreateDriverScheduleFromTumixAttendanceFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetDriverScheduleData</name>
        <label>TUMIX出勤実績の項目割り当て</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>EmploymentStatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WorkStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkStartDateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkStartDateData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClockInTimeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClockInTimeData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManualClockInValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualClockInData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkEndDateValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkEndDateData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClockOutTimeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClockOutTimeData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManualClockOutValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualClockOutData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RestTimeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RestTimeData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTimeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkTimeData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmploymentStatusValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmploymentStatusData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDriverMaster</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckExistingDriverSchedule</name>
        <label>既存の勤務情報の有無</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CreateDriverSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>既存の勤務情報なし</defaultConnectorLabel>
        <rules>
            <name>ExistingDriverSchedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDriverSchedule.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDriverSchedule</targetReference>
            </connector>
            <label>既存の勤務情報あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckNullDriver</name>
        <label>ドライバーが存在するか確認</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>GetDriverSchedule</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ドライバーが存在する</defaultConnectorLabel>
        <rules>
            <name>UniqueName_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDriverMaster.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CreateErrorLog</targetReference>
            </connector>
            <label>ドライバーが存在しない</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClockInTimeData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.ClockInTime__c}, FIND(&quot;:&quot;, {!$Record.ClockInTime__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.ClockInTime__c}, FIND(&quot;:&quot;, {!$Record.ClockInTime__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ClockOutTimeData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.ClockOutTime__c}, FIND(&quot;:&quot;, {!$Record.ClockOutTime__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.ClockOutTime__c}, FIND(&quot;:&quot;, {!$Record.ClockOutTime__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>EmploymentStatusData</name>
        <dataType>String</dataType>
        <expression>CASE(
    {!$Record.EmploymentStatus__c},
    &quot;出勤&quot;, &quot;WorkDay&quot;,
    &quot;有給&quot;, &quot;DayOff&quot;,
    &quot;特別休&quot;, &quot;SpecialOff&quot;,
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>ErrorLog</name>
        <dataType>String</dataType>
        <expression>&apos;TUMIX出勤実績：&apos; &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>ErrorMassage</name>
        <dataType>String</dataType>
        <expression>&apos;ドライバー情報が見つかりません。&apos;</expression>
    </formulas>
    <formulas>
        <name>ManualClockInData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.ManualClockIn__c}, FIND(&quot;:&quot;, {!$Record.ManualClockIn__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.ManualClockIn__c}, FIND(&quot;:&quot;, {!$Record.ManualClockIn__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ManualClockOutData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.ManualClockOut__c}, FIND(&quot;:&quot;, {!$Record.ManualClockOut__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.ManualClockOut__c}, FIND(&quot;:&quot;, {!$Record.ManualClockOut__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ProcessSubject_F</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) &amp;
LPAD(TEXT(MONTH(TODAY())), 2 , &quot;0&quot;) &amp;
LPAD(TEXT(DAY(TODAY())), 2 , &quot;0&quot;) &amp;
&quot;：TUMIX出勤実績のインポート失敗&quot;</expression>
    </formulas>
    <formulas>
        <name>RestTimeData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.RestTime__c}, FIND(&quot;:&quot;, {!$Record.RestTime__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.RestTime__c}, FIND(&quot;:&quot;, {!$Record.RestTime__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <formulas>
        <name>UniqueKey</name>
        <dataType>String</dataType>
        <expression>{!GetDriverMaster.Id} + TEXT(YEAR({!WorkStartDateValue})) + LPAD(TEXT(MONTH({!WorkStartDateValue})),2,&apos;0&apos;) + LPAD(TEXT(DAY({!WorkStartDateValue})) ,2,&apos;0&apos;)</expression>
    </formulas>
    <formulas>
        <name>WorkEndDateData</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(TODAY()), 
    CASE(
        LEFT({!$Record.WorkEndDate__c}, FIND(&quot;月&quot;, {!$Record.WorkEndDate__c}) - 1),
        &quot;1&quot;, 1, &quot;2&quot;, 2, &quot;3&quot;, 3, &quot;4&quot;, 4, &quot;5&quot;, 5, &quot;6&quot;, 6, &quot;7&quot;, 7, &quot;8&quot;, 8, &quot;9&quot;, 9, &quot;10&quot;, 10, &quot;11&quot;, 11, &quot;12&quot;, 12,
        1
    ),
    VALUE(MID({!$Record.WorkEndDate__c}, FIND(&quot;月&quot;, {!$Record.WorkEndDate__c}) + 1, FIND(&quot;日&quot;, {!$Record.WorkEndDate__c}) - FIND(&quot;月&quot;, {!$Record.WorkEndDate__c}) - 1))
)</expression>
    </formulas>
    <formulas>
        <name>WorkStartDateData</name>
        <dataType>Date</dataType>
        <expression>DATE(
    YEAR(TODAY()), 
    CASE(
        LEFT({!$Record.WorkStartDate__c}, FIND(&quot;月&quot;, {!$Record.WorkStartDate__c}) - 1),
        &quot;1&quot;, 1, &quot;2&quot;, 2, &quot;3&quot;, 3, &quot;4&quot;, 4, &quot;5&quot;, 5, &quot;6&quot;, 6, &quot;7&quot;, 7, &quot;8&quot;, 8, &quot;9&quot;, 9, &quot;10&quot;, 10, &quot;11&quot;, 11, &quot;12&quot;, 12,
        1
    ),
    VALUE(MID({!$Record.WorkStartDate__c}, FIND(&quot;月&quot;, {!$Record.WorkStartDate__c}) + 1, FIND(&quot;日&quot;, {!$Record.WorkStartDate__c}) - FIND(&quot;月&quot;, {!$Record.WorkStartDate__c}) - 1))
)</expression>
    </formulas>
    <formulas>
        <name>WorkTimeData</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
    TEXT(TODAY()) &amp; &quot; &quot; &amp; 
    LEFT({!$Record.WorkTime__c}, FIND(&quot;:&quot;, {!$Record.WorkTime__c}) - 1) &amp; &quot;:&quot; &amp; 
    MID({!$Record.WorkTime__c}, FIND(&quot;:&quot;, {!$Record.WorkTime__c}) + 1, 2) &amp; &quot;:00&quot;
)</expression>
    </formulas>
    <interviewLabel>TUMIX出勤実績から勤務情報転記フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TUMIX出勤実績から勤務情報転記フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateDriverSchedule</name>
        <label>勤務情報作成</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>AttendanceTime__c</field>
            <value>
                <elementReference>ClockInTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>WorkStartDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DayOfWeek__c</field>
            <value>
                <elementReference>$Record.DayOfWeek__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartureDate__c</field>
            <value>
                <elementReference>WorkEndDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartureTime__c</field>
            <value>
                <elementReference>ClockOutTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>GetDriverMaster.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmploymentStatus__c</field>
            <value>
                <elementReference>EmploymentStatusValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RestTime__c</field>
            <value>
                <elementReference>RestTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StampedAttendanceTime__c</field>
            <value>
                <elementReference>ManualClockInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StampedDepartureTime__c</field>
            <value>
                <elementReference>ManualClockOutValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStatus__c</field>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTime__c</field>
            <value>
                <elementReference>WorkTimeValue</elementReference>
            </value>
        </inputAssignments>
        <object>DriverSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateErrorLog</name>
        <label>一括処理ログにエラーを出力</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ProcessDetails__c</field>
            <value>
                <elementReference>ErrorMassage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessLog__c</field>
            <value>
                <elementReference>ErrorLog</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <elementReference>ProcessSubject_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessType__c</field>
            <value>
                <stringValue>ImportTumixAttendance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToEmailGroupAddresses__c</field>
            <value>
                <stringValue>DispatchGroup</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetDriverMaster</name>
        <label>ドライバーマスタ取得</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckNullDriver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.EmployeeName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DriverMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDriverSchedule</name>
        <label>勤務情報取得</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckExistingDriverSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DriverSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDriverSchedule</name>
        <label>勤務情報更新</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttendanceTime__c</field>
            <value>
                <elementReference>ClockInTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>WorkStartDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DayOfWeek__c</field>
            <value>
                <elementReference>$Record.DayOfWeek__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartureDate__c</field>
            <value>
                <elementReference>WorkEndDateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DepartureTime__c</field>
            <value>
                <elementReference>ClockOutTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver__c</field>
            <value>
                <elementReference>GetDriverMaster.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmploymentStatus__c</field>
            <value>
                <elementReference>EmploymentStatusValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RestTime__c</field>
            <value>
                <elementReference>RestTimeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StampedAttendanceTime__c</field>
            <value>
                <elementReference>ManualClockInValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StampedDepartureTime__c</field>
            <value>
                <elementReference>ManualClockOutValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkStatus__c</field>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTime__c</field>
            <value>
                <elementReference>WorkTimeValue</elementReference>
            </value>
        </inputAssignments>
        <object>DriverSchedule__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SetDriverScheduleData</targetReference>
        </connector>
        <object>TumixAttendance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClockInTimeValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClockOutTimeValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmploymentStatusValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManualClockInValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManualClockOutValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RestTimeValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorDetails2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ErrorLogs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkEndDateValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkStartDateValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>WorkStartDateData</elementReference>
        </value>
    </variables>
    <variables>
        <name>WorkTimeValue</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
