force-app/main/default/flows/DeleteDispatchAssignDriverTriggerFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decisionDispatchVehicle</name>
        <label>配車車両を判定</label>
        <locationX>226</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasDispatchVehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DispatchVehicle__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOtherDispatchAssignDriver</targetReference>
            </connector>
            <label>配車車両が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionOtherDispatchAssignDriver</name>
        <label>他の配車アサイン情報を判定</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>deleteDispatchVehicle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ない</defaultConnectorLabel>
        <rules>
            <name>hasOtherDispatchAssignDriver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOtherDispatchAssignDriver</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>配車アサイン情報削除フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車アサイン情報削除フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deleteDispatchVehicle</name>
        <label>配車明細を削除</label>
        <locationX>138</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DispatchVehicle__c</elementReference>
            </value>
        </filters>
        <object>DispatchVehicle__c</object>
    </recordDeletes>
    <recordLookups>
        <name>getOtherDispatchAssignDriver</name>
        <label>他の配車アサイン情報を取得</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionOtherDispatchAssignDriver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchVehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DispatchVehicle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DispatchVehicle__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionDispatchVehicle</targetReference>
        </connector>
        <object>DispatchAssignDriver__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
