force-app/main/default/flows/DispatchTableDownloadFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addDispatchDetailRecordListToUpdate</name>
        <label>配車明細(更新)リストに追加</label>
        <locationX>336</locationX>
        <locationY>3164</locationY>
        <assignmentItems>
            <assignToReference>DispatchDetailRecordListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopDispatchDetailRecordList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDispatchDetailRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearPrintHistoryFields</name>
        <label>印刷履歴項目をクリア</label>
        <locationX>182</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>getDispatchTableDownload.UnableToPrint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDispatchTableDownload.Printed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDispatchTableDownload.DownloadDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePrintHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchDetailRecord</name>
        <label>配車明細を設定</label>
        <locationX>336</locationX>
        <locationY>3056</locationY>
        <assignmentItems>
            <assignToReference>loopDispatchDetailRecordList.DispatchTableDownload__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchTableDownloadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addDispatchDetailRecordListToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchTableDate</name>
        <label>配車表日付を設定</label>
        <locationX>567</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DispatchTableDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedDispatchDetailRecordList.LoadingDate_F__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>decisionDispatchTableDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchTableDownloadId</name>
        <label>配車表ダウンロードIdを設定</label>
        <locationX>50</locationX>
        <locationY>2240</locationY>
        <assignmentItems>
            <assignToReference>DispatchTableDownloadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getDispatchTableDownload.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIsPastDay</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFirstDate</name>
        <label>一番目の積込日を設定</label>
        <locationX>567</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FirstDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedDispatchDetailRecordList.LoadingDate_F__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionLoadingDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFirstDateToDispatchTableDate</name>
        <label>配車表日付を設定</label>
        <locationX>501</locationX>
        <locationY>1316</locationY>
        <assignmentItems>
            <assignToReference>DispatchTableDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getDispatchDetailRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewDispatchTableDownloadId</name>
        <label>新規配車表ダウンロードIdを設定</label>
        <locationX>446</locationX>
        <locationY>2348</locationY>
        <assignmentItems>
            <assignToReference>DispatchTableDownloadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createDispatchTableDownload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDispatchDetailRecordList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkDispatchDetailRecordList</name>
        <label>配車明細を判定</label>
        <locationX>479</locationX>
        <locationY>1808</locationY>
        <defaultConnector>
            <targetReference>noDispatchDetailRecordList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車明細がない</defaultConnectorLabel>
        <rules>
            <name>notBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDispatchDetailRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectResultScreen</targetReference>
            </connector>
            <label>配車明細が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkFirstDate</name>
        <label>一番目の積込日をチェック</label>
        <locationX>699</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>decisionLoadingDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在</defaultConnectorLabel>
        <rules>
            <name>noFirstDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFirstDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIsPastDay</name>
        <label>積込日が過去の日付かを判定する</label>
        <locationX>50</locationX>
        <locationY>2348</locationY>
        <defaultConnector>
            <targetReference>clearDispatchDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未来日</defaultConnectorLabel>
        <rules>
            <name>isPastDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchTableDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ResultScreen</targetReference>
            </connector>
            <label>過去日</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDispatchDetailRecordList</name>
        <label>配車明細リストを判定</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車明細がない</defaultConnectorLabel>
        <rules>
            <name>hasDispatchDetail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchDetailRecordList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSelectedDispatchDetailRecordList</targetReference>
            </connector>
            <label>配車明細が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDispatchTableDate</name>
        <label>配車表日付を判定</label>
        <locationX>479</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>decisionFirstDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車表日付がない</defaultConnectorLabel>
        <rules>
            <name>hasDispatchTableDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchTableDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDispatchDetailRecordList</targetReference>
            </connector>
            <label>配車表日付が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDispatchTableDownload</name>
        <label>配車表ダウンロードを判定</label>
        <locationX>248</locationX>
        <locationY>2132</locationY>
        <defaultConnector>
            <targetReference>createDispatchTableDownload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車表ダウンロードがない</defaultConnectorLabel>
        <rules>
            <name>hasDispatchTableDownload</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDispatchTableDownload</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDispatchTableDownloadId</targetReference>
            </connector>
            <label>配車表ダウンロードが存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionFirstDate</name>
        <label>一番目の積込日を判定</label>
        <locationX>633</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>errorScreen02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasFirstDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFirstDateToDispatchTableDate</targetReference>
            </connector>
            <label>一番目の積込日が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionLoadingDate</name>
        <label>積込日を判定</label>
        <locationX>699</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>loopSelectedDispatchDetailRecordList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>積込日がない</defaultConnectorLabel>
        <rules>
            <name>hasLoadingDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSelectedDispatchDetailRecordList.LoadingDate_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopSelectedDispatchDetailRecordList.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDispatchTableDate</targetReference>
            </connector>
            <label>積込日が存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DispatchTableDownloadUrl_F</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))
&amp; &quot;lightning/r/PriceTable__c/&quot; &amp; {!DispatchTableDownloadId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>配車表ダウンロードフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車表ダウンロードフロー</label>
    <loops>
        <name>loopDispatchDetailRecordList</name>
        <label>配車明細のループ</label>
        <locationX>248</locationX>
        <locationY>2948</locationY>
        <collectionReference>getDispatchDetailRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDispatchDetailRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateDispatchDetailRecordList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSelectedDispatchDetailRecordList</name>
        <label>選択中配車明細のループ</label>
        <locationX>479</locationX>
        <locationY>242</locationY>
        <collectionReference>DispatchDetailRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkFirstDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decisionDispatchTableDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createDispatchTableDownload</name>
        <label>配車表ダウンロードを作成</label>
        <locationX>446</locationX>
        <locationY>2240</locationY>
        <connector>
            <targetReference>setNewDispatchTableDownloadId</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>DispatchTableDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TableType__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <object>PrintHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getDispatchDetailRecordList</name>
        <label>配車明細を取得</label>
        <locationX>479</locationX>
        <locationY>1700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDispatchDetailRecordList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchTableDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>SubcontractorFlag__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDispatchTableDownload</name>
        <label>配車表ダウンロードを取得</label>
        <locationX>248</locationX>
        <locationY>2024</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionDispatchTableDownload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchTableDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TableType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PrintHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>clearDispatchDetail</name>
        <label>配車明細の参照をクリア</label>
        <locationX>182</locationX>
        <locationY>2456</locationY>
        <connector>
            <targetReference>ClearPrintHistoryFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchTableDownload__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getDispatchTableDownload.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DispatchTableDownload__c</field>
        </inputAssignments>
        <object>DispatchDetail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateDispatchDetailRecordList</name>
        <label>配車明細を更新</label>
        <locationX>248</locationX>
        <locationY>3356</locationY>
        <connector>
            <targetReference>ResultScreen</targetReference>
        </connector>
        <inputReference>DispatchDetailRecordListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrintHistory</name>
        <label>印刷履歴を更新</label>
        <locationX>182</locationX>
        <locationY>2672</locationY>
        <connector>
            <targetReference>loopDispatchDetailRecordList</targetReference>
        </connector>
        <inputReference>getDispatchTableDownload</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>エラー画面</label>
        <locationX>1029</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordErrorMessage</name>
            <fieldText>&lt;p&gt;配車明細レコードを選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen02</name>
        <label>エラー画面</label>
        <locationX>765</locationX>
        <locationY>1316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoDateRecordErrorMessage</name>
            <fieldText>&lt;p&gt;「積込日」の登録があるレコードを選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noDispatchDetailRecordList</name>
        <label>配車明細がないエラー</label>
        <locationX>710</locationX>
        <locationY>1916</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noDispatchDetailRecordListErrorMessage</name>
            <fieldText>&lt;p&gt;指定された「積込日」（{!DispatchTableDate}）に該当する配車明細が見つかりませんでした。&lt;/p&gt;&lt;p&gt;お手数ですが、選択された内容をご確認いただき、再度ご選択をお願いいたします。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResultScreen</name>
        <label>結果画面</label>
        <locationX>248</locationX>
        <locationY>3464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultMessage</name>
            <fieldText>&lt;p&gt;{!DispatchTableDate}の「配車表」ダウンロードは&lt;a href=&quot;{!DispatchTableDownloadUrl_F}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;こちらへ&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectResultScreen</name>
        <label>選択結果画面</label>
        <locationX>248</locationX>
        <locationY>1916</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getDispatchTableDownload</targetReference>
        </connector>
        <fields>
            <name>dataTableTitle</name>
            <fieldText>&lt;p&gt;以下は、「積込日」が {!DispatchTableDate} の配車明細レコードです。&lt;/p&gt;&lt;p&gt;「次へ」ボタンをクリックすると、配車表が作成されます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DispatchDetailRecordDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>DispatchDetail__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>配車明細</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getDispatchDetailRecordList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-42b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;配車明細#&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LoadingDate_F__c&quot;,&quot;guid&quot;:&quot;column-0d31&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;積込日&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;SubcontractorFlag__c&quot;,&quot;guid&quot;:&quot;column-a30d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;下請け&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionDispatchDetailRecordList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DispatchDetailRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchDetail__c</objectType>
    </variables>
    <variables>
        <name>DispatchDetailRecordListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchDetail__c</objectType>
    </variables>
    <variables>
        <name>DispatchTableDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchTableDownloadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
