force-app/main/default/flows/DispatchDetailBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Before_SetValue1</name>
        <label>Before_SetValue1</label>
        <locationX>534</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.ManualUpdateDatetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualUpdateDatetime_F</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewOrMasterChangedCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DispatchDateTime_DelValue</name>
        <label>配車日時の値削除</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.DispatchDateTime__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>decisionDispatchTableDownload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DispatchDateTime_SetValue</name>
        <label>配車日時の値設定</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.DispatchDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decisionDispatchTableDownload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchTableDownload</name>
        <label>配車表ダウンロードをクリア</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.DispatchTableDownload__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decisionDispatchTableDownload</name>
        <label>配車表ダウンロードの判定</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>clearDispatchTableDownload</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DispatchTableDownload__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDispatchTableDownload</targetReference>
            </connector>
            <label>配車表ダウンロードをクリア</label>
        </rules>
    </decisions>
    <decisions>
        <name>HowDidStatusChanged</name>
        <label>配車日時更新すべきかの確認</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>decisionDispatchTableDownload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>InsertDispatchDateTime</name>
            <conditionLogic>(1 AND 2 ) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VehicleMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcontractor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispatchDateTime_SetValue</targetReference>
            </connector>
            <label>配車日時を更新</label>
        </rules>
        <rules>
            <name>DeleteDispatchDateTime</name>
            <conditionLogic>( 1 OR 2 ) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VehicleMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subcontractor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispatchDateTime_DelValue</targetReference>
            </connector>
            <label>配車日時を削除</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewOrMasterChangedCheck</name>
        <label>新規作成またはマスタ系データに変更があるか確認</label>
        <locationX>534</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>マスタ系データ変更なし</defaultConnectorLabel>
        <rules>
            <name>NewOrMasterChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MasterRecordChangeCheck_F</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HowDidStatusChanged</targetReference>
            </connector>
            <label>新規作成またはマスタ系データに変更あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_UniqueKey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.OrderHeader__r.LoadingDate__c})+ {!$Record.DriverMaster__c} + {!$Record.VehicleMaster__c}</expression>
    </formulas>
    <formulas>
        <description>手動更新メモが空でないなら手動更新日時を更新。空なら手動更新日時を更新しない。</description>
        <name>ManualUpdateDatetime_F</name>
        <dataType>DateTime</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.ManualUpdateNote__c}))
  ,
  {!$Flow.CurrentDateTime},
  {!$Record.ManualUpdateDatetime__c}
)</expression>
    </formulas>
    <formulas>
        <name>MasterRecordChangeCheck_F</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || {!$Record__Prior.DriverMaster__c} &lt;&gt;{!$Record.DriverMaster__c} || {!$Record__Prior.VehicleMaster__c} &lt;&gt;{!$Record.VehicleMaster__c} || {!$Record__Prior.Subcontractor__c} &lt;&gt; {!$Record.Subcontractor__c}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>配車明細の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車明細の高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Before_SetValue1</targetReference>
        </connector>
        <object>DispatchDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
