force-app/main/default/flows/DispatchDetailAutoCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>ErrorMessage</name>
        <label>エラーメッセージ</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CheckPreviousStatus</name>
        <label>前の状態チェック</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Reception</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubContractorCheck</targetReference>
            </connector>
            <label>受付</label>
        </rules>
    </decisions>
    <decisions>
        <name>ConfirmRecord</name>
        <label>レコード確認</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>UpdateDispatchDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>NotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDispatchDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertDispatchDetail</targetReference>
            </connector>
            <label>現在の配車明細がない場合</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubContractorCheck</name>
        <label>下請けチェック</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetVehicleMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsSubContractor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubcontractorFlagFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CurrentDispatchDetail</targetReference>
            </connector>
            <label>下請け</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CharteredVehicleNumberFormula</name>
        <dataType>String</dataType>
        <expression>IF({!SubcontractorFlagFormula}, {!$Record.VehicleNumber__c}, NULL)</expression>
    </formulas>
    <formulas>
        <name>DriverMasterId</name>
        <dataType>String</dataType>
        <expression>IF({!SubcontractorFlagFormula}, NULL, {!$Record.DriverMaster__c})</expression>
    </formulas>
    <formulas>
        <name>SubcontractorFlagFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!$Record.ShippingCompany__c})
    , {!$Record.VehicleNumber__c} == &apos;9999&apos;
    , ISPICKVAL({!$Record.ShippingCompany__r.Type}, &quot;Subcontractor&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>SubcontractorId</name>
        <dataType>String</dataType>
        <expression>IF({!SubcontractorFlagFormula}, {!$Record.ShippingCompany__c}, NULL)</expression>
    </formulas>
    <interviewLabel>配車明細自動転記 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車明細自動転記</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertDispatchDetail</name>
        <label>配車明細を作成</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CharteredVehicleNumber__c</field>
            <value>
                <elementReference>CharteredVehicleNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DriverMaster__c</field>
            <value>
                <elementReference>DriverMasterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderHeader__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubcontractorFlag__c</field>
            <value>
                <elementReference>SubcontractorFlagFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor__c</field>
            <value>
                <elementReference>SubcontractorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleMaster__c</field>
            <value>
                <elementReference>vehicleMaster.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CurrentDispatchDetail</name>
        <label>現在の配車明細</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVehicleMaster</name>
        <label>車両マスタを取得</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentDispatchDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VehicleNumber__c</elementReference>
            </value>
        </filters>
        <object>VehicleMaster__c</object>
        <outputReference>vehicleMaster</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDispatchDetail</name>
        <label>配車明細を更新</label>
        <locationX>578</locationX>
        <locationY>947</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CharteredVehicleNumber__c</field>
            <value>
                <elementReference>CharteredVehicleNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DriverMaster__c</field>
            <value>
                <elementReference>DriverMasterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OverwriteDispatchDateTime__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubcontractorFlag__c</field>
            <value>
                <elementReference>SubcontractorFlagFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor__c</field>
            <value>
                <elementReference>SubcontractorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleMaster__c</field>
            <value>
                <elementReference>vehicleMaster.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchDetail__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckPreviousStatus</targetReference>
        </connector>
        <filterFormula>/* ISNEW() || 受付 から 受付確認済み に変更 */
/* &amp;&amp; NOT( 路線便 or 出庫のみ or (ローソン &amp;&amp; ドライバー  IsNull)) */
(ISNEW() || ISPICKVAL( {!$Record__Prior.Status__c}, &quot;Reception&quot; ))
&amp;&amp; ISPICKVAL( {!$Record.Status__c}, &quot;ReceptionCompleted&quot; )
&amp;&amp; NOT(
    ISPICKVAL( {!$Record.TransportationMode__c}, &quot;Route&quot; )
    || ISPICKVAL( {!$Record.TransportationMode__c}, &quot;ShippingOnly&quot; )
    || ( ISPICKVAL( {!$Record.TransportationMode__c}, &quot;Lawson&quot; )
        &amp;&amp; ISBLANK( {!$Record.DriverMaster__c})
    )
)</filterFormula>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>vehicleMaster</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VehicleMaster__c</objectType>
    </variables>
</Flow>
