force-app/main/default/flows/GetShippingFeeMaster.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>set</name>
        <label>割り当て</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ShippingFeeMaster</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingFeeM.firstRetrievedRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>SOQL1</name>
        <dataType>String</dataType>
        <expression>&quot;&quot;</expression>
    </formulas>
    <interviewLabel>ShippingFeeAutoCalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>送料DataFetcher</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CalShippingFee</name>
        <label>送料計算</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set</targetReference>
        </connector>
        <fields>
            <name>ShippingFeeM</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ShippingFee__c</typeValue>
            </dataTypeMappings>
            <dataTypeMappings>
                <typeName>S</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName1</name>
                <value>
                    <stringValue>ShippingFee__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>SOQL1</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CalShippingFee</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ShippingFeeMaster</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ShippingFee__c</objectType>
    </variables>
</Flow>
