force-app/main/default/flows/InvoiceDocumentUpdatePreviewDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UpdatePreviewDate</name>
        <label>プレビュー日を更新</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>InvoiceRecord.PrintDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateInvoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckId</name>
        <label>IDチェック</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInvoice</targetReference>
            </connector>
            <label>recordIdがある</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInvoiceRecord</name>
        <label>請求書レコード</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePreviewDate</targetReference>
            </connector>
            <label>レコードがある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>請求書のプレビュー日を更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書の発行日更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetInvoice</name>
        <label>請求書を取得</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckInvoiceRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrintDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>InvoiceDocument__c</object>
        <outputReference>InvoiceRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PrintDate__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInvoice</name>
        <label>請求書を更新</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>InvoiceRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InvoiceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceDocument__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
