force-app/main/default/flows/InvoiceSetInvoiceDocument.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>RecordCheck</name>
        <label>請求書(明細)を判定</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>InsertSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>GotRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoiceDocument</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInvoiceId02</targetReference>
            </connector>
            <label>請求書(明細)がある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstDateOfMonth</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR({!$Record.InvoiceDate__c})) &amp;&quot;-&quot;&amp; TEXT(MONTH({!$Record.InvoiceDate__c})) &amp;&quot;-01&quot;)</expression>
    </formulas>
    <formulas>
        <name>firstDateOfNextMonth</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(YEAR({!$Record.InvoiceDate__c})) &amp;&quot;-&quot;&amp; TEXT(MONTH({!$Record.InvoiceDate__c})+1) &amp;&quot;-01&quot;)</expression>
    </formulas>
    <interviewLabel>InvoiceSetInvoiceDocument {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求書に合計書の設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertSummary</name>
        <label>請求書(合計)を作成</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>SetInvoiceId01</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDate__c</field>
            <value>
                <elementReference>$Record.InvoiceDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Confirm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>請求書</stringValue>
            </value>
        </inputAssignments>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getInvoiceDocument</name>
        <label>請求書(合計)を取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>firstDateOfMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>firstDateOfNextMonth</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>請求書</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>SetInvoiceId01</name>
        <label>請求書(明細)Idを設定</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>TotalSummaryDocument__c</field>
            <value>
                <elementReference>InsertSummary</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetInvoiceId02</name>
        <label>請求書(明細)Idを設定</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>TotalSummaryDocument__c</field>
            <value>
                <elementReference>getInvoiceDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getInvoiceDocument</targetReference>
        </connector>
        <filterFormula>AND (
    OR(
        ISNEW(),
        ISCHANGED({!$Record.Account__c}),
        ISCHANGED({!$Record.InvoiceDate__c})
    ),
    NOT(ISPICKVAL({!$Record.Type__c}, &quot;請求書&quot;)),
    NOT(ISPICKVAL({!$Record.Type__c}, &quot;支払書&quot;))
)</filterFormula>
        <object>InvoiceDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
