force-app/main/default/flows/ObjectiveManagementBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetName</name>
        <label>名前設定</label>
        <locationX>584</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TargetMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>YYYYMM01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetSameMonthObjManagementOfLastYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSameMonthObjManagementOfLastYear</name>
        <label>前年同月目標管理を設定する</label>
        <locationX>470</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>$Record.ObjectiveManagement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSameMonthObjManagementOfLastYear.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>IsSameMonthObjManagementOfLastYear</name>
        <label>前年同月目標管理は存在するか</label>
        <locationX>387</locationX>
        <locationY>586</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsHave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSameMonthObjManagementOfLastYear</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSameMonthObjManagementOfLastYear</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!StartDate},1)</expression>
    </formulas>
    <formulas>
        <name>NameFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!$Record.TargetMonth__c})) + &quot;/&quot; + LPAD(TEXT(MONTH({!$Record.TargetMonth__c})), 2 , &quot;0&quot;)</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR({!$Record.TargetMonth__c}) -1, MONTH({!$Record.TargetMonth__c}) ,1)</expression>
    </formulas>
    <formulas>
        <name>YYYYMM01</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.TargetMonth__c}), MONTH({!$Record.TargetMonth__c}), 1)</expression>
    </formulas>
    <interviewLabel>目標管理の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>目標管理の高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSameMonthObjManagementOfLastYear</name>
        <label>前年同月の目標管理を取得</label>
        <locationX>584</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsSameMonthObjManagementOfLastYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetMonth__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TargetMonth__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ObjectiveManagement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>SetName</targetReference>
        </connector>
        <object>ObjectiveManagement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
