force-app/main/default/flows/OrderHeaderRelatedRecordRollBack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckAccountingDetailQuantity</name>
        <label>請求・支払明細の数量を確認</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>GetPickingList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ADExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccountingDetail</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteAccountingDetail</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDispatchAssignQuantity</name>
        <label>配車アサインの数量を確認</label>
        <locationX>336</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>ClearDispatchTableDownload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DAExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDispatchAssign</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DriverScheduleIdList</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDispatchDetailQuantity</name>
        <label>配車明細の数量を確認</label>
        <locationX>501</locationX>
        <locationY>1355</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DDExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDispatchDetail</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispatchDetailIdList</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDispatchVehicleQuantity</name>
        <label>配車車両の数量を確認</label>
        <locationX>182</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>ClearDispatchTableDownload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DVExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDispatchVehicleList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDispatchVehicleList</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDriverScheduleQuantity</name>
        <label>勤務情報の数量を確認</label>
        <locationX>182</locationX>
        <locationY>2219</locationY>
        <defaultConnector>
            <targetReference>GetDispatchVehicleList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>DSExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDriverSchedule</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDriverSchedule</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPickingListQuantity</name>
        <label>ピッキングリストの数量を確認</label>
        <locationX>501</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>GetDispatchDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>PLExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPickingList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeletePickingList</targetReference>
            </connector>
            <label>&gt;0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OrderHeaderRecordURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))
&amp; &quot;lightning/r/OrderHeader__c/&quot; &amp; {!$Record.Id} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>ProcessDetails</name>
        <dataType>String</dataType>
        <expression>&quot;注文の状態を「受付」に変更したため、関連レコードをロールバックしました。配車明細は新たに設定が必要です。&quot;</expression>
    </formulas>
    <interviewLabel>注文の関連レコードのロールバック {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文の関連レコードのロールバック</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateBulkProcessLogRecord</name>
        <label>一括処理ログを作成</label>
        <locationX>501</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>CheckDispatchDetailQuantity</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderHeader__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessDetails__c</field>
            <value>
                <elementReference>ProcessDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <stringValue>【自動通知】注文状態変更による配車情報リセットのご報告</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessType__c</field>
            <value>
                <stringValue>OrderHeaderRelatedRecordsRollback</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToEmailGroupAddresses__c</field>
            <value>
                <stringValue>DispatchGroup</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteAccountingDetail</name>
        <label>請求・支払明細の削除</label>
        <locationX>369</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>GetPickingList</targetReference>
        </connector>
        <inputReference>GetAccountingDetail</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteDispatchAssign</name>
        <label>配車アサインを削除</label>
        <locationX>182</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>GetDriverSchedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDetail__c</field>
            <operator>In</operator>
            <value>
                <elementReference>DispatchDetailIdList</elementReference>
            </value>
        </filters>
        <object>DispatchAssignDriver__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeletePickingList</name>
        <label>ピッキングリストを削除</label>
        <locationX>369</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>GetDispatchDetail</targetReference>
        </connector>
        <inputReference>GetPickingList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAccountingDetail</name>
        <label>請求・支払明細の取得</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAccountingDetailQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchAssign</name>
        <label>配車アサインを取得</label>
        <locationX>336</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDispatchAssignQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDetail__c</field>
            <operator>In</operator>
            <value>
                <elementReference>DispatchDetailIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DriverSchedule__c</queriedFields>
        <queriedFields>DispatchVehicle__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchDetail</name>
        <label>配車明細を取得</label>
        <locationX>501</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBulkProcessLogRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DriverMaster__c</queriedFields>
        <queriedFields>DispatchTableDownload__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchVehicleList</name>
        <label>配車車両を取得</label>
        <locationX>182</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDispatchVehicleQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DispatchVehicleIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchVehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDriverSchedule</name>
        <label>勤務情報を取得</label>
        <locationX>182</locationX>
        <locationY>2111</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckDriverScheduleQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DriverScheduleIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DriverSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPickingList</name>
        <label>ピッキングリストを取得</label>
        <locationX>501</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckPickingListQuantity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PickingList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ClearDispatchTableDownload</name>
        <label>一部項目をクリア</label>
        <locationX>336</locationX>
        <locationY>3011</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DispatchDetailIdList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CharteredVehicleNumber__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DispatchDateTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DispatchTableDownload__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DriverMaster__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SubcontractorFlag__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleMaster__c</field>
        </inputAssignments>
        <object>DispatchDetail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDispatchVehicleList</name>
        <label>配車車両を更新</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>ClearDispatchTableDownload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DispatchVehicleIdList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsageType__c</field>
        </inputAssignments>
        <object>DispatchVehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDriverSchedule</name>
        <label>勤務情報を更新</label>
        <locationX>50</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>GetDispatchVehicleList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DriverScheduleIdList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkStatus__c</field>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </inputAssignments>
        <object>DriverSchedule__c</object>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAccountingDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reception</stringValue>
            </value>
        </filters>
        <object>OrderHeader__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>DispatchDetailIdList</name>
        <label>配車明細ID一覧</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>GetDispatchAssign</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetDispatchDetail[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DispatchVehicleIdList</name>
        <label>配車車両Id一覧</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <connector>
            <targetReference>DeleteDispatchAssign</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetDispatchAssign[$EachItem].DispatchVehicle__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>DriverScheduleIdList</name>
        <label>勤務情報Id一覧</label>
        <locationX>182</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>DispatchVehicleIdList</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetDispatchAssign[$EachItem].DriverSchedule__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
