force-app/main/default/flows/OrderHeaderReceptionCompletedMailSending.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MailToAccount</name>
        <label>荷主へメール</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>OrderHeader__c.ReceptionCompletedMail</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderHeader__c.ReceptionCompletedMail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckAccountMailAddress</name>
        <label>荷主のメールアドレス確認</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HasAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountEmail__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailToAccount</targetReference>
            </connector>
            <label>アドレスがある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>注文配車確認済のメール送信 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文受付確認済のメール送信</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckAccountMailAddress</targetReference>
        </connector>
        <filterFormula>/* ISNEW() || 受付 から 受付確認済み に変更 */
(ISNEW() || ISPICKVAL( {!$Record__Prior.Status__c}, &quot;Reception&quot; ))
&amp;&amp; ISPICKVAL( {!$Record.Status__c}, &quot;ReceptionCompleted&quot; )</filterFormula>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
