force-app/main/default/flows/OrderHeaderSetCostAndGasolinePrice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>UniqueName</name>
        <label>値設定</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>DispatchDetailRecord.FuelCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchDetailRecord.FuelCost_F__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateDispatchDetail</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>DisplayError</name>
        <label>エラー表示</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CheckPreviousStatus</name>
        <label>前の状態をチェック</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>GetGasolinePriceMaster</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>InvoiceConfirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InvoiceConfirmed</stringValue>
                </rightValue>
            </conditions>
            <label>請求処理済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>GetRecordResult</name>
        <label>取得結果</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>FoundRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DispatchDetailRecord.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UniqueName</targetReference>
            </connector>
            <label>取得できる</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>注文の原価と燃料単価を設定 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文の原価と燃料単価を設定</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDispatchDetail</name>
        <label>配車明細を取得</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordResult</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>DispatchDetail__c</object>
        <outputReference>DispatchDetailRecord</outputReference>
        <queriedFields>FuelCost__c</queriedFields>
        <queriedFields>FuelCost_F__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetGasolinePriceMaster</name>
        <label>燃料単価マスタを取得</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOrderHeaderGasolineUnitPrice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ExpectedDeliveryDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ExpectedDeliveryDate__c</elementReference>
            </value>
        </filters>
        <object>GasolinePriceMaster__c</object>
        <outputReference>GasPriceRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDispatchDetail</name>
        <label>配車明細を更新</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputReference>DispatchDetailRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderHeaderGasolineUnitPrice</name>
        <label>注文の燃料単価を更新</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>GetDispatchDetail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>GasolinePriceMaster__c</field>
            <value>
                <elementReference>GasPriceRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckPreviousStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>InvoiceConfirmed</stringValue>
            </value>
        </filters>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DispatchDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchDetail__c</objectType>
    </variables>
    <variables>
        <name>GasPriceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GasolinePriceMaster__c</objectType>
    </variables>
</Flow>
