force-app/main/default/flows/OrderDetailUniqueKeyRemoveTemp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>DisplayError</name>
        <label>エラーメッセージ</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>「注文明細の一意キーのtempを削除」フローエラー：
{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <formulas>
        <name>NameWithoutTemp</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, &apos;temp&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>運賃の一意キーのtempを削除 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文明細の一意キーのtempを削除</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_temp</name>
        <label>tempをクリア</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NameWithoutTemp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UniqueKey__c</field>
            <value>
                <elementReference>NameWithoutTemp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_temp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UniqueKey__c</field>
            <operator>EndsWith</operator>
            <value>
                <stringValue>temp</stringValue>
            </value>
        </filters>
        <object>OrderDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
