force-app/main/default/flows/OrderDetailBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>SetItemName</name>
        <label>品名設定</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.ItemName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProductMaster__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IFSequenceNumberIsBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetName</name>
        <label>名前、荷主設定</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetSequenceNumber</name>
        <label>Name、枝番、荷主等の設定</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.SequenceNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SequenceNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameFormula2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>ErrorMessage</name>
        <label>枝番が空白のエラーメッセージ</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <customErrorMessages>
            <errorMessage>枝番を空白に設定できません</errorMessage>
            <fieldSelection>SequenceNumber__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>IFProductMasterIsBlank</name>
        <label>商品マスタに値があるかどうか</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>IFSequenceNumberIsBlank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ItemName__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetItemName</targetReference>
            </connector>
            <label>商品マスタに値がある</label>
        </rules>
    </decisions>
    <decisions>
        <name>IFSequenceNumberIsBlank</name>
        <label>枝番に値があるかどうか</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>SetName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>ChangeToBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SequenceNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsNewCheck</targetReference>
            </connector>
            <label>枝番が空っぽ</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewCheck</name>
        <label>新規作成かどうか</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSequenceNumber</targetReference>
            </connector>
            <label>新規作成</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>注文の荷主ID</description>
        <name>Account_F</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderHeader__r.Account__c}</expression>
    </formulas>
    <formulas>
        <name>NameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderHeader__r.Name} 
&amp; &apos;,&apos; 
&amp; LPAD(
    TEXT({!$Record.SequenceNumber__c}), 
    2, 
    &apos;0&apos;
)
&amp; IF(ISNEW(), &apos;&apos;, &apos;temp&apos;)</expression>
    </formulas>
    <formulas>
        <name>NameFormula2</name>
        <dataType>String</dataType>
        <expression>{!$Record.OrderHeader__r.Name} 
&amp; &apos;,&apos; 
&amp; LPAD(
    TEXT({!SequenceNumberFormula}), 
    2, 
    &apos;0&apos;
)
&amp;  IF(ISNEW(), &apos;&apos;, &apos;temp&apos;)</expression>
    </formulas>
    <formulas>
        <name>SequenceNumberFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.OrderHeader__r.SequenceNumber_Max__c}, 0) + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>注文明細の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文明細の高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IFProductMasterIsBlank</targetReference>
        </connector>
        <object>OrderDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
