force-app/main/default/flows/OrderHeaderBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>荷主の設定がいらないですが、Before_SetValue1 を残す為値を割り当てしています</description>
        <name>Before_SetValue1</name>
        <label>Before_SetValue1</label>
        <locationX>644</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.QuantityForShippingFeeCal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityForShippingFeeCal_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DestinationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destination__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LoadingDateText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loadingDateText_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account__r.AccountEmail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ManualUpdateDatetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualUpdateDatetime_F</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HowDidStatusChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Before_SetValue2</name>
        <label>Before_SetValue2</label>
        <locationX>644</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount_F</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>注文上限 まず 空白 に初期設定</description>
        <name>Completed_SetValue</name>
        <label>受付確認済み時の値設定</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingDate_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ReceptionCompletedDatetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SubcontractBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubcontractBillingDate_F</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OrderMaximumLimit__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>check_IsOriginPlaceMFJ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetDispatchDetailName</name>
        <label>配車明細名を取得</label>
        <locationX>930</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>DispatchDetailName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchDetailListLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendErrorMsg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_OrderMaximumLimit</name>
        <label>注文上限を設定</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderMaximumLimit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_OrderMaximumLimit.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Before_SetValue2</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>SendErrorMsg</name>
        <label>エラーメッセージを出す</label>
        <locationX>930</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>DispatchDetailListLoop</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>「配車明細：{!DispatchDetailName}」の下記項目のセットを確認してください。
・下請け
・下請け業者
・自社車両
・ドライバー</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>発地がマルエスかつ積込日が入力されていれば、注文上限の設定をします。</description>
        <name>check_IsOriginPlaceMFJ</name>
        <label>注文上限リンク方法の確認</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Before_SetValue2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>それ以外</defaultConnectorLabel>
        <rules>
            <name>OriginPlace_MFJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OriginPlace__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>マルエス</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LoadingDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lawson</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TransportationMode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ShippingOnly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_OrderMaximumLimit</targetReference>
            </connector>
            <label>発地がマルエスの&quot;チャーター&quot;と「路線便」</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubcontractorAndVehicleMaster</name>
        <label>下請けと自社車両のチェック</label>
        <locationX>1062</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>DispatchDetailListLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>正しい</defaultConnectorLabel>
        <rules>
            <name>isError</name>
            <conditionLogic>(1 AND 2 ) OR (3 AND ( 4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>DispatchDetailListLoop.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchDetailListLoop.Subcontractor__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchDetailListLoop.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchDetailListLoop.VehicleMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DispatchDetailListLoop.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDispatchDetailName</targetReference>
            </connector>
            <label>エラー</label>
        </rules>
    </decisions>
    <decisions>
        <name>HowDidStatusChanged</name>
        <label>状態変更の確認</label>
        <locationX>644</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Before_SetValue2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Reception2Completed</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReceptionCompleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_SetValue</targetReference>
            </connector>
            <label>受付⇒受付確認済み</label>
        </rules>
        <rules>
            <name>DispatchCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispatchCompleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDispatchDetailList</targetReference>
            </connector>
            <label>受付確認済み⇒配車完了</label>
        </rules>
    </decisions>
    <description>注文の高速項目更新のフローです。</description>
    <environments>Default</environments>
    <formulas>
        <description>IF(NOT(ISBLANK({!$Record.UnitPrice__c}))
  , BLANKVALUE({!$Record.QuantityForShippingFeeCal__c}, 1) * {!$Record.UnitPrice__c}
  , {!$Record.Amount__c}
)</description>
        <name>Amount_F</name>
        <dataType>Currency</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.UnitPrice__c}))
  , BLANKVALUE({!$Record.QuantityForShippingFeeCal__c}, 1) * {!$Record.UnitPrice__c}
  , {!$Record.Amount__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>下記の3項目 値がある
荷主、納品日、積込日</description>
        <name>BillingDate_F</name>
        <dataType>Date</dataType>
        <expression>BlankValue({!$Record.BillingDate__c},
IF(Text({!$Record.Account__r.BillingDateType__c}) == &quot;LoadingDate&quot;, {!$Record.LoadingDate__c}, {!$Record.ExpectedDeliveryDate__c})
)</expression>
    </formulas>
    <formulas>
        <name>loadingDateText_F</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.LoadingDate__c})</expression>
    </formulas>
    <formulas>
        <description>手動更新メモが空でないなら手動更新日時を更新。空なら手動更新日時を更新しない。</description>
        <name>ManualUpdateDatetime_F</name>
        <dataType>DateTime</dataType>
        <expression>IF (
  NOT(ISBLANK({!$Record.ManualUpdateNote__c}))
  ,
  {!$Flow.CurrentDateTime},
  {!$Record.ManualUpdateDatetime__c}
)</expression>
    </formulas>
    <formulas>
        <name>QuantityForShippingFeeCal_F</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.QuantityForShippingFeeCal__c}, 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubcontractBillingDate_F</name>
        <dataType>Date</dataType>
        <expression>BlankValue({!$Record.SubcontractBillingDate__c},
IF(Text({!$Record.ShippingCompany__r.BillingDateType__c}) == &quot;LoadingDate&quot;, {!$Record.LoadingDate__c}, {!$Record.ExpectedDeliveryDate__c})
)</expression>
    </formulas>
    <interviewLabel>注文の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文の高速フロー</label>
    <loops>
        <name>DispatchDetailListLoop</name>
        <label>配車明細ループ</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <collectionReference>GetDispatchDetailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSubcontractorAndVehicleMaster</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Before_SetValue2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>注文上限を指定します。条件に合致した最初のレコードを利用します。
※2025/03/05現在、エリアは中に指定されます。QAの内容によって修正。</description>
        <name>get_OrderMaximumLimit</name>
        <label>注文上限を取得</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_OrderMaximumLimit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LoadingDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LoadingDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeliveryArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__r.DeliveryArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderMaximumLimit__c</object>
        <sortField>StartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchDetailList</name>
        <label>配車明細を取得</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DispatchDetailListLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Before_SetValue1</targetReference>
        </connector>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DispatchDetailName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
