force-app/main/default/flows/OrderHeaderChangePickingListToShipped.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>DisplayError</name>
        <label>エラー表示</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <environments>Default</environments>
    <interviewLabel>注文のピッキングリストを出庫済みに変更 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文のピッキングリストを出庫済みに変更</label>
    <loops>
        <name>PickingListUpdateLoop</name>
        <label>ピッキングリスト更新のループ</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>GetPickingList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdatePickingList</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPickingList</name>
        <label>ピッキングリストを取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PickingListUpdateLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Shipped__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductStockInfo__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Quantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PickingList__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Shipped__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePickingList</name>
        <label>ピッキングリストを更新</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>PickingListUpdateLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PickingListUpdateLoop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Shipped__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>PickingList__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPickingList</targetReference>
        </connector>
        <filterFormula>(
    (
        ISNEW() 
        &amp;&amp; 
        NOT(ISBLANK({!$Record.LoadingDate__c}))
    )
    ||
    ISCHANGED({!$Record.LoadingDate__c})
)
&amp;&amp;
{!$Record.LoadingDate__c} &lt;= TODAY()
&amp;&amp;
{!$Record.PickingedQuantity_Sum__c} &gt; 0</filterFormula>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
