force-app/main/default/flows/OriginDestinationBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>error_IncorrectAccount</name>
        <label>荷主の不整合エラー</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <customErrorMessages>
            <errorMessage>{!loop_ShippingFee.PriceTable__r.Name} の荷主と一致しません。この発着地に関連している価格管理の内、荷主が一致していないレコードが存在しないか確認してください。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>check_OriginDestinationAccount</name>
        <label>発着地に荷主が存在するか</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>update_OriginDestination</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在しない</defaultConnectorLabel>
        <rules>
            <name>OriginDestinationAccount_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_ShippingFee</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_PriceTableAccount</name>
        <label>運賃との整合性チェック</label>
        <locationX>226</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>error_IncorrectAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>運賃と不整合</defaultConnectorLabel>
        <rules>
            <name>Account_EqualTo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_ShippingFee.PriceTable__r.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_ShippingFee</targetReference>
            </connector>
            <label>運賃の荷主と一致</label>
        </rules>
    </decisions>
    <description>発着地の高速フローです</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_UniqueKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.Name} + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>発着地の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>発着地の高速フロー</label>
    <loops>
        <name>loop_ShippingFee</name>
        <label>運賃をすべてチェック</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <collectionReference>get_ShippingFee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_PriceTableAccount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_OriginDestination</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_ShippingFee</name>
        <label>参照している運賃を取得</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_ShippingFee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Destination__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShippingFee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_OriginDestination</name>
        <label>一意キーを設定</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>UniqueKey__c</field>
            <value>
                <elementReference>formula_UniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_OriginDestinationAccount</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OriginDestination__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
