force-app/main/default/flows/PickingListBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Before_SetValue1</name>
        <label>Before_SetValue1</label>
        <locationX>270</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProductMaster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderDetail__r.ProductMaster__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPastShipped</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateShipped</name>
        <label>出庫済みの更新</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Shipped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckLoadingDatePrintDateTime</name>
        <label>積込日と印刷日時のチェック</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>LoadingDatePassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.LoadingDate__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.LoadingDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateShipped</targetReference>
            </connector>
            <label>積込日が本日以下</label>
        </rules>
        <rules>
            <name>PrintDateTimeInput</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PrintDateTime__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateShipped</targetReference>
            </connector>
            <label>印刷日時の入力</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPastShipped</name>
        <label>出庫済みに変更のチェック</label>
        <locationX>270</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ProductStockInfo__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Shipped__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckLoadingDatePrintDateTime</targetReference>
            </connector>
            <label>出庫済みになる</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ピッキングリストの高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ピッキングリストの高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Before_SetValue1</targetReference>
        </connector>
        <object>PickingList__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
