force-app/main/default/flows/ReceivableDetailAccountingDetailAutoCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>DisplayError</name>
        <label>作成エラー表示</label>
        <locationX>528</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>LogError</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>売掛明細の仕分明細自動転記フローエラー：
{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>decisionNewOrUpdate</name>
        <label>新規と更新を判定</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>deleteAccountingDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDummyInvoiceDocument</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountingItem_F</name>
        <dataType>String</dataType>
        <expression>CASE(
  TEXT({!$Record.TaxType__c}),
  /* 課税10% */
  &quot;Normal&quot;, &quot;1_90&quot;, 
  /* 課税8% */
  &quot;Reduced&quot;, &quot;1_91&quot;,
  /* 非課税 */
  &quot;None&quot;, &quot;1_92&quot;,       
  NULL
)</expression>
    </formulas>
    <interviewLabel>その他請求明細の請求・支払明細自動転記 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>その他請求明細の請求・支払明細自動転記</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertAccountingDetail</name>
        <label>仕分明細を作成</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <faultConnector>
            <targetReference>DisplayError</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountItem__c</field>
            <value>
                <elementReference>AccountingItem_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountingType__c</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceAccount__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceDocument__c</field>
            <value>
                <elementReference>GetDummyInvoiceDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReceivablePayableDetail__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetDepartment__c</field>
            <value>
                <elementReference>$Record.TargetDepartment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>AccountingDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>LogError</name>
        <label>エラーログ</label>
        <locationX>528</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ProcessLog__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <stringValue>売掛明細の仕分明細自動転記フローのエラー</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>deleteAccountingDetail</name>
        <label>仕分明細を削除</label>
        <locationX>264</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>GetDummyInvoiceDocument</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReceivablePayableDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AccountingDetail__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GetDummyInvoiceDocument</name>
        <label>Dummy請求書を取得</label>
        <locationX>176</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InsertAccountingDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1900-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionNewOrUpdate</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7</filterLogic>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>シャトレーゼの請求</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>エレクターの請求</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>出向者の請求</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>恒温槽</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>売上のマイナス明細</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>諸掛データ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>通行料</stringValue>
            </value>
        </filters>
        <object>ReceivableDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
