force-app/main/default/flows/SameVehicleDriverLoadingDateError.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>DriverDuplicationErrorMessage</name>
        <label>ドライバー重複エラーメッセージ</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <customErrorMessages>
            <errorMessage>期間内に同じドライバーが設定されているため配車できません。</errorMessage>
            <fieldSelection>DriverMaster__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>DupVehiclesErrorMessage</name>
        <label>エラーメッセージ</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>DuplicateDriverDispatchItemAcquisition</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>期間内に同じ車両が設定されているため配車できません。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>GetDriverDispatchItem</name>
        <label>重複ドライバーの配車明細の取得確認</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UniqueName_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateDriverDispatchItemAcquisition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DriverDuplicationErrorMessage</targetReference>
            </connector>
            <label>重複ドライバーの配車明細の取得確認 の 結果 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveDispatchDetail</name>
        <label>配車明細を取得かどうか</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DuplicateDriverDispatchItemAcquisition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDispatchDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DupVehiclesErrorMessage</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>同一車両ドライバー積込日設定エラー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>同一車両、ドライバー、積込日設定エラーフロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DuplicateDriverDispatchItemAcquisition</name>
        <label>期間内に重複ドライバーがある配車明細を取得</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDriverDispatchItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DriverMaster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DriverMaster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DriverMaster__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ExpectedDeliveryDate_F__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpectedDeliveryDate_F__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LoadingDate_F__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchDetail</name>
        <label>配車明細を取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveDispatchDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VehicleMaster__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VehicleMaster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VehicleMaster__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.ExpectedDeliveryDate_F__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExpectedDeliveryDate_F__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LoadingDate_F__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDispatchDetail</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>DriverMaster__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleMaster__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ExpectedDeliveryDate_F__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManualUpdateDatetime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DriverMaster__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VehicleMaster__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DispatchDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
