force-app/main/default/flows/SCR_SubmitPriceTableApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>submit_ShippingFeePriceTableApproval</name>
        <label>運賃の価格申請</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>ShippingFeePriceTable_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>submit_StorageFeePriceTableApproval</name>
        <label>保管料の価格申請</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>StorageFeePriceTable_Approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_PriceTableType</name>
        <label>価格管理のタイプを確認</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>submit_ShippingFeePriceTableApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>荷主横持以外</defaultConnectorLabel>
        <rules>
            <name>PriceTableType_AccountTransfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PriceTable.PriceTableType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StorageFee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>submit_StorageFeePriceTableApproval</targetReference>
            </connector>
            <label>荷主横持</label>
        </rules>
    </decisions>
    <description>価格管理の承認を申請するフローです。</description>
    <environments>Default</environments>
    <interviewLabel>価格管理の承認を申請 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>価格管理の承認を申請</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>トリガーレコード（価格管理）のタイプを確認するため必要です。</description>
        <name>get_PriceTable</name>
        <label>トリガーレコードを取得</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_PriceTableType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PriceTable__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_PriceTable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
