force-app/main/default/flows/SCR_ResetPickingListCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choice_ResetBasedOnLoadingDate</name>
        <choiceText>積込日基準でリセット</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ResetBasedOnLoadingDate</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_ResetBasedOnOrderHeader</name>
        <choiceText>注文明細単位でリセットする</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ResetBasedOnOrderHeader</stringValue>
        </value>
    </choices>
    <decisions>
        <description>RaySheetから入力されたPickingListCollectionが空でないか確認。</description>
        <name>check_InputRecordCollection</name>
        <label>入力レコード数があるか確認</label>
        <locationX>1007</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>screen_PickingListCollectionBlankError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>入力レコードなし</defaultConnectorLabel>
        <rules>
            <name>InputRecordCollection_NotBrank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PickingListCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transform_OrderHeaderCollection</targetReference>
            </connector>
            <label>入力レコードあり</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_OrderHeaderListLength</name>
        <label>配送完了以後の注文が存在するか</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>screen_InvalidDataError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在する</defaultConnectorLabel>
        <rules>
            <name>OrderHeaderListLength_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_OrderHeaderAfterDeliveryCompleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_ResetMethod</targetReference>
            </connector>
            <label>存在しない</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_ResetMethod</name>
        <label>抽出メソッドの分</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>transform_LoadingDateList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車日</defaultConnectorLabel>
        <rules>
            <name>ResetMethod_OrderHeader</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_ResetMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_ResetBasedOnOrderHeader</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transform_OrderDetailCollection</targetReference>
            </connector>
            <label>注文明細単位</label>
        </rules>
    </decisions>
    <description>注文明細のピッキングリストをリセットします。</description>
    <environments>Default</environments>
    <interviewLabel>ピッキングリストをリセット {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ピッキングリストをリセット</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_NewPickingListCollection</name>
        <label>新規ピッキングリストを作成</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <faultConnector>
            <targetReference>rollback_CreateError</targetReference>
        </faultConnector>
        <inputReference>transform_NewPickingList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_TargetPickingListCollection</name>
        <label>注文明細に紐つくピッキングリストの削除</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>transform_NewPickingList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>rollback_DeleteFault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDetail__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_FinalOrderDetailIdList</elementReference>
            </value>
        </filters>
        <object>PickingList__c</object>
    </recordDeletes>
    <recordLookups>
        <description>注意点：分岐の条件から、レコードの取得条件のどちらか一方に値が入っていれば、もう一つは空のコレクションになる。</description>
        <name>get_OrderDtailCollection</name>
        <label>注文明細を取得</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>transform_FinalOrderDetailIdList</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_OrderDetailCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_LoadingDateList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_OrderHeaderAfterDeliveryCompleted</name>
        <label>配送完了以後の注文を取得</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_OrderHeaderListLength</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>transform_OrderHeaderCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DeliveryCompleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InvoiceConfirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderHeader__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback_CreateError</name>
        <label>作成失敗後のロールバック</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>screen_PickingListCreateFault</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>rollback_DeleteFault</name>
        <label>削除失敗後のロールバック</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>screen_PickingListDeleteFault</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>screen_DisplayResetTarget</name>
        <label>削除対象確認画面</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>delete_TargetPickingListCollection</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;下記の注文明細について、ピッキングリストをリセットします。よろしいでしょうか。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>display_ResetTarget</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderDetail__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_OrderDtailCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OrderHeaderName_F__c&quot;,&quot;guid&quot;:&quot;column-b374&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;注文#&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2ca8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;注文明細#&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ProductName_F__c&quot;,&quot;guid&quot;:&quot;column-07a5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;商品名&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;LoadingDate_F__c&quot;,&quot;guid&quot;:&quot;column-1878&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;積込日&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_InvalidDataError</name>
        <label>注文データの不正エラー画面</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_InvalidDataError</name>
            <fieldText>&lt;p&gt;注文の状態が配車完了以後となっているレコードが含まれます。&lt;/p&gt;&lt;p&gt;処理を終了します。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_PickingListCollectionBlankError</name>
        <label>ピッキングリスト未指定エラー画面</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_PickingListCollectionBlankError</name>
            <fieldText>&lt;p&gt;ピッキングリストレコードを指定してください。&lt;/p&gt;&lt;p&gt;処理を終了します。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_PickingListCreateFault</name>
        <label>ピッキングリストの再作成失敗エラー画面</label>
        <locationX>578</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_PickingListCreateFault</name>
            <fieldText>&lt;p&gt;下記エラーによって、ピッキングリストのリセットに失敗しました。処理を終了します。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_PickingListDeleteFault</name>
        <label>レコードの削除失敗エラー画面</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>display_PickingListDeleteFault</name>
            <fieldText>&lt;p&gt;下記エラーによって、ピッキングリストのレコードの削除に失敗しました。処理を終了します。&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ResetMethod</name>
        <label>リセット方法の選択</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_ResetMethod</targetReference>
        </connector>
        <fields>
            <name>input_ResetMethod</name>
            <choiceReferences>choice_ResetBasedOnOrderHeader</choiceReferences>
            <choiceReferences>choice_ResetBasedOnLoadingDate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>リセットの基準</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_InputRecordCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>配車日で注文明細を取得した場合、注文明細のIDのリストがないので、改めて抽出。</description>
        <name>transform_FinalOrderDetailIdList</name>
        <label>注文明細のIDを再抽出</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>screen_DisplayResetTarget</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_OrderDtailCollection[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_LoadingDateList</name>
        <label>注文明細の積込日を抽出</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>get_OrderDtailCollection</targetReference>
        </connector>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_PickingListCollection[$EachItem].LoadingDate_F__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_NewPickingList</name>
        <label>新規ピッキングリストに変換</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>create_NewPickingListCollection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>PickingList__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>OrderDetail__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_OrderDtailCollection[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OrderHeader__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_OrderDtailCollection[$EachItem].OrderHeader__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_OrderDetailCollection</name>
        <label>ピッキングリストから注文明細を抽出</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>get_OrderDtailCollection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_PickingListCollection[$EachItem].OrderDetail__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transform_OrderHeaderCollection</name>
        <label>ピッキングリストから注文を抽出</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>get_OrderHeaderAfterDeliveryCompleted</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_PickingListCollection[$EachItem].OrderHeader__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ピッキングリストのレコードコレクションです。複数のピッキングリストレコードが格納される点に注意してください。</description>
        <name>var_PickingListCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PickingList__c</objectType>
    </variables>
    <variables>
        <name>var_TargetLoadingDateList</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TargetOrderDetailIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
