force-app/main/default/flows/SendProcessLogMail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AccountingDepartmentGroupCreateBulkProcessLogMailAlert</name>
        <label>経理課へ：一括処理ログ通知メール</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>BulkProcessLog__c.AccountingDepartmentGroupCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CheckOrderGroup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.AccountingDepartmentGroupCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>DispatchDepartmentGroupCreateBulkProcessLogMailAlert</name>
        <label>配車課へ：一括処理ログ通知メール</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <actionName>BulkProcessLog__c.DispatchDepartmentGroupCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>WarehouseDepartmentGroup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.DispatchDepartmentGroupCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>OrderDepartmentGroupCreateBulkProcessLogMailAlert</name>
        <label>受注課へ：一括処理ログ通知メール</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <actionName>BulkProcessLog__c.OrderDepartmentGroupCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CheckDispatchGroup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.OrderDepartmentGroupCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SystemGroupCreateBulkProcessLogMailAlert</name>
        <label>システム課へ：一括処理ログ通知メール</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>BulkProcessLog__c.SystemGroupCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CheckAccountingGroup</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.SystemGroupCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ToEmailAddressesCreateBulkProcessLogMailAlert</name>
        <label>送信先へ：一括処理ログ通知メール</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <actionName>BulkProcessLog__c.ToEmailAddressesCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.ToEmailAddressesCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>WarehouseDepartmentGroupCreateBulkProcessLogMailAlert</name>
        <label>倉庫課へ：一括処理ログ通知メール</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <actionName>BulkProcessLog__c.WarehouseDepartmentGroupCreateBulkProcessLogMailAlert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BulkProcessLog__c.WarehouseDepartmentGroupCreateBulkProcessLogMailAlert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>CreateOrderFromRegularServiceBatch_F</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateOrderFromRegularServiceBatch</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CheckAccountingGroup</name>
        <label>送信先の課は経理課</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>CheckOrderGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsAccountingGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AccountingGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountingDepartmentGroupCreateBulkProcessLogMailAlert</targetReference>
            </connector>
            <label>経理課</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDispatchGroup</name>
        <label>送信先の課は配車課</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>WarehouseDepartmentGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsDispatchGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DispatchGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispatchDepartmentGroupCreateBulkProcessLogMailAlert</targetReference>
            </connector>
            <label>配車課</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOrderGroup</name>
        <label>送信先の課は受注課</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CheckDispatchGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsOrderGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OrderGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderDepartmentGroupCreateBulkProcessLogMailAlert</targetReference>
            </connector>
            <label>受注課</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSystemGroup</name>
        <label>送信先の課はシステム課</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckAccountingGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsSystemGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SystemGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SystemGroupCreateBulkProcessLogMailAlert</targetReference>
            </connector>
            <label>システム課</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckToEmailGroupAddresses</name>
        <label>送信先の課の入力有無</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ToEmailAddressesCreateBulkProcessLogMailAlert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>送信先の課入力なし</defaultConnectorLabel>
        <rules>
            <name>ToEmailGroupAddressesNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CheckSystemGroup</targetReference>
            </connector>
            <label>送信先の課入力あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>WarehouseDepartmentGroup</name>
        <label>送信先の課は倉庫課</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IsWarehouseDepartmentGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToEmailGroupAddresses__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>WarehouseGroup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarehouseDepartmentGroupCreateBulkProcessLogMailAlert</targetReference>
            </connector>
            <label>倉庫課</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SendProcessLogMail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>一括処理ログ_メール送信</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckToEmailGroupAddresses</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>ToEmailGroupAddresses__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ToEmailAddresses__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProcessSubject__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>BulkProcessLog__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
