force-app/main/default/flows/ShippingInstructionDownloadFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setFirstDate</name>
        <label>一番目の積込日を設定</label>
        <locationX>814</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>FirstDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSelectedPickingListCollection.LoadingDate_F__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>decisionFirstDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPrintHistoryId</name>
        <label>新規印刷履歴Idを設定</label>
        <locationX>446</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>PrintHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createPrintHistory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addPrintHistoryId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPrintHistoryId</name>
        <label>印刷履歴Idを設定</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>PrintHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getPrintHistory.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIsPastDay</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIsPastDay</name>
        <label>積込日が過去の日付かを判定する</label>
        <locationX>50</locationX>
        <locationY>1556</locationY>
        <defaultConnector>
            <targetReference>clearPrintHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未来日</defaultConnectorLabel>
        <rules>
            <name>isPastDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ResultScreen</targetReference>
            </connector>
            <label>過去日</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkLoadingDate</name>
        <label>積込日をチェック</label>
        <locationX>946</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>loopSelectedPickingListCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>存在</defaultConnectorLabel>
        <rules>
            <name>noFirstDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopSelectedPickingListCollection.LoadingDate_F__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFirstDate</targetReference>
            </connector>
            <label>空白</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkPickingListColletction</name>
        <label>ピッキングリストを判定</label>
        <locationX>479</locationX>
        <locationY>1016</locationY>
        <defaultConnector>
            <targetReference>noDispatchDetailRecordList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ピッキングリストがない</defaultConnectorLabel>
        <rules>
            <name>notBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPickingList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectResultScreen</targetReference>
            </connector>
            <label>ピッキングリストが存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionFirstDate</name>
        <label>一番目の積込日を判定</label>
        <locationX>726</locationX>
        <locationY>800</locationY>
        <defaultConnector>
            <targetReference>errorScreen02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasFirstDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPickingList</targetReference>
            </connector>
            <label>一番目の積込日が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionPickingListCollection</name>
        <label>ピッキングリストを判定</label>
        <locationX>982</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ピッキングリストがない</defaultConnectorLabel>
        <rules>
            <name>hasPickingList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PickingListCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopSelectedPickingListCollection</targetReference>
            </connector>
            <label>ピッキングリストが存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionPrintHistory</name>
        <label>印刷履歴を判定</label>
        <locationX>248</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>createPrintHistory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>印刷履歴がない</defaultConnectorLabel>
        <rules>
            <name>hasPrintHistory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPrintHistory</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPrintHistoryId</targetReference>
            </connector>
            <label>印刷履歴が存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PrintHistoryUrl_F</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))
&amp; &quot;lightning/r/PrintHistory__c/&quot; &amp; {!PrintHistoryId} &amp; &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>出荷指示書ダウンロードフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>出荷指示書ダウンロードフロー</label>
    <loops>
        <name>loopSelectedPickingListCollection</name>
        <label>選択中ピッキングリストのループ</label>
        <locationX>726</locationX>
        <locationY>242</locationY>
        <collectionReference>PickingListCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkLoadingDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>decisionFirstDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>updatePickingListLoop</name>
        <label>ピッキング更新ループ</label>
        <locationX>248</locationX>
        <locationY>2156</locationY>
        <collectionReference>addPrintHistoryId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updatePickingRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ResultScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createPrintHistory</name>
        <label>印刷履歴を作成</label>
        <locationX>446</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>setNewPrintHistoryId</targetReference>
        </connector>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>FirstDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TableType__c</field>
            <value>
                <stringValue>ShippingInstruction</stringValue>
            </value>
        </inputAssignments>
        <object>PrintHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getPickingList</name>
        <label>ピッキングリストを取得</label>
        <locationX>479</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkPickingListColletction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoadingDate_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PickingList__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPrintHistory</name>
        <label>印刷履歴を取得</label>
        <locationX>248</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionPrintHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FirstDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TableType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ShippingInstruction</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PrintHistory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ClearFieldsForPrintHistory</name>
        <label>印刷履歴項目をクリア</label>
        <locationX>182</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>addPrintHistoryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPrintHistory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DownloadDateTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Printed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnableToPrint__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>PrintHistory__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>clearPrintHistory</name>
        <label>印刷履歴の参照をクリア</label>
        <locationX>182</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>ClearFieldsForPrintHistory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PrintHistory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPrintHistory.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PrintHistory__c</field>
        </inputAssignments>
        <object>PickingList__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePickingRecord</name>
        <label>ピッキングレコードを更新</label>
        <locationX>336</locationX>
        <locationY>2264</locationY>
        <connector>
            <targetReference>updatePickingListLoop</targetReference>
        </connector>
        <inputReference>updatePickingListLoop</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>エラー画面</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecordErrorMessage</name>
            <fieldText>&lt;p&gt;ピッキングリストレコードを選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>errorScreen02</name>
        <label>エラー画面</label>
        <locationX>974</locationX>
        <locationY>908</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoDateRecordErrorMessage</name>
            <fieldText>&lt;p&gt;「積込日」の登録があるレコードを選択してください。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noDispatchDetailRecordList</name>
        <label>配車明細がないエラー</label>
        <locationX>710</locationX>
        <locationY>1124</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noDispatchDetailRecordListErrorMessage</name>
            <fieldText>&lt;p&gt;指定された「積込日」（{!FirstDate}）に該当するピッキングリストが見つかりませんでした。&lt;/p&gt;&lt;p&gt;お手数ですが、選択された内容をご確認いただき、再度ご選択をお願いいたします。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResultScreen</name>
        <label>結果画面</label>
        <locationX>248</locationX>
        <locationY>2456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultMessage</name>
            <fieldText>&lt;p&gt;{!FirstDate}の「出荷指示書」ダウンロードは&lt;a href=&quot;{!PrintHistoryUrl_F}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;こちらへ&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectResultScreen</name>
        <label>選択結果画面</label>
        <locationX>248</locationX>
        <locationY>1124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getPrintHistory</targetReference>
        </connector>
        <fields>
            <name>dataTableTitle</name>
            <fieldText>&lt;p&gt;以下は、「積込日」が {!FirstDate}のピッキングリストレコードです。&lt;/p&gt;&lt;p&gt;「次へ」ボタンをクリックすると、出荷指示書の印刷履歴が作成されます。&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PickingListDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PickingList__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ピッキングリスト</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getPickingList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2988&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;ピッキングリスト#&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LoadingDate_F__c&quot;,&quot;guid&quot;:&quot;column-5014&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;積込日&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;LotNumber__c&quot;,&quot;guid&quot;:&quot;column-4f41&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;ロット番号&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>856</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionPickingListCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>addPrintHistoryId</name>
        <label>印刷履歴Idを追加</label>
        <locationX>248</locationX>
        <locationY>2048</locationY>
        <connector>
            <targetReference>updatePickingListLoop</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>PickingList__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getPickingList[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>PrintHistory__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>PrintHistoryId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>FirstDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PickingListCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PickingList__c</objectType>
    </variables>
    <variables>
        <name>PrintHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
