force-app/main/default/flows/ShippingFeeBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>InputSequenceNumber</name>
        <label>枝番を入力</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.SequenceNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SequenceNumberFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InputUniqueKey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InputUniqueKey</name>
        <label>一意キーを入力</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueKeyFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertOrUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetToAccountOfPriceTable</name>
        <label>価格管理の取引先に設定</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PriceTable__r.Account__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UpdateUniqueKey</name>
        <label>一意キーを更新</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueKeyFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InsertOrUpdate</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>error_IncorrectAccount</name>
        <label>荷主の不整合エラー</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <customErrorMessages>
            <errorMessage>{!$Record.PriceTable__r.Name} の荷主と一致しません。有効な着地を指定してください。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>運賃と着地の荷主の整合性を確認します</description>
        <name>check_Account</name>
        <label>荷主の整合性チェック</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>error_IncorrectAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>荷主が不整合</defaultConnectorLabel>
        <rules>
            <name>Account_Correct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PriceTable__r.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Destination__r.Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination__r.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SequenceNumberValue</targetReference>
            </connector>
            <label>荷主が整合</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsertOrUpdate</name>
        <label>作成・更新</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>更新された</defaultConnectorLabel>
        <rules>
            <name>IsNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetToAccountOfPriceTable</targetReference>
            </connector>
            <label>作成された</label>
        </rules>
    </decisions>
    <decisions>
        <name>SequenceNumberValue</name>
        <label>枝番の値</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>InputSequenceNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>値がない</defaultConnectorLabel>
        <rules>
            <name>HasValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SequenceNumber__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateUniqueKey</targetReference>
            </connector>
            <label>値がある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SequenceNumberFormula</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE({!$Record.PriceTable__r.SequenceNumber_Max__c}, 0) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UniqueKeyFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.PriceTable__c} &amp;
TEXT({!$Record.SequenceNumber__c}) &amp;
IF(ISNEW(), &apos;&apos;, &apos;temp&apos;)</expression>
    </formulas>
    <interviewLabel>運賃の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>運賃の高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Account</targetReference>
        </connector>
        <object>ShippingFee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
