force-app/main/default/flows/ShippingFeeAutoCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetShippingFeeMaster</name>
        <label>アクション１</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>GetShippingFeeMaster</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>ShowError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderHeaders</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetShippingFeeMaster</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>ShowError</name>
        <label>エラー表示</label>
        <locationX>440</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>ErrorLog</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>FixedFeeFlagを削除</description>
    <environments>Default</environments>
    <interviewLabel>運賃の自動計算 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>運賃の自動計算</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>ErrorLog</name>
        <label>エラーログ</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>ProcessLog__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <stringValue>運賃の自動計算エラー</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetShippingFeeMaster</targetReference>
        </connector>
        <filterFormula>AND(
    OR(ISPICKVAL({!$Record.Status__c}, &quot;Reception&quot;), (ISNEW() &amp;&amp; ISPICKVAL({!$Record.Status__c}, &quot;ReceptionCompleted&quot;)) ), 
    {!$Record.ShippingFeeManualFlag__c} == False, 
    OR(
        ISNEW(),
        ISCHANGED({!$Record.Destination__c}),
        ISCHANGED({!$Record.QuantityForShippingFeeCal__c}),
        ISCHANGED({!$Record.UnitForShippingFeeCal__c}),
        ISCHANGED({!$Record.TransportationMode__c}),
        ISCHANGED({!$Record.OriginPlace__c}),
        ISCHANGED({!$Record.Account__c})
    )
)</filterFormula>
        <object>OrderHeader__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>300</triggerOrder>
</Flow>
