force-app/main/default/flows/SubcontractorDispatchProcessFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addToDispatchAssignList</name>
        <label>配車アサイン情報リストに追加</label>
        <locationX>490</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DispatchAssignRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDispatchVehicleList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToDispatchVehicleList</name>
        <label>配車車両リストに追加</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>DispatchVehicleListToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DispatchVehicleRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentDateAddOne</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>currentDateAddOne</name>
        <label>CurrentDate + 1日</label>
        <locationX>50</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>checkCurrentDateAndEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCurrentDate</name>
        <label>CurrentDateを積込日に設定</label>
        <locationX>226</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>CurrentDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderHeader__r.ExpectedDeliveryDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkCurrentDateAndEndDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchAssignRecord</name>
        <label>配車アサイン情報を設定</label>
        <locationX>490</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignRecord.DispatchVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDispatchVehicleList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchAssignRecord.DispatchDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToDispatchAssignList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setSubcontractorDispatch</name>
        <label>配車車両を設定</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.Subcontractor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subcontractor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.CharteredVehicleNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CharteredVehicleNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToDispatchVehicleList</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>ErrorMessage</name>
        <label>エラーメッセージ</label>
        <locationX>666</locationX>
        <locationY>2171</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>noStartDateOrEndDateError</name>
        <label>積込日と納品日がないエラー</label>
        <locationX>1194</locationX>
        <locationY>1331</locationY>
        <customErrorMessages>
            <errorMessage>積込日または納品日が未入力のため、配車アサイン情報を作成できません。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>checkCurrentDateAndEndDate</name>
        <label>CurrentDateと納品日の比較</label>
        <locationX>226</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>insertDispatchVehicleList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CurrentDate &gt; 納品日</defaultConnectorLabel>
        <rules>
            <name>CurrentDate_EndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OrderHeader__r.ExpectedDeliveryDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setSubcontractorDispatch</targetReference>
            </connector>
            <label>CurrentDate &lt;= 納品日</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkStartDateAndEndDate</name>
        <label>積込日と納品日を判定</label>
        <locationX>710</locationX>
        <locationY>1223</locationY>
        <defaultConnector>
            <targetReference>noStartDateOrEndDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>積込日と納品日がない</defaultConnectorLabel>
        <rules>
            <name>hasStartDateAndEndDate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoadingDate_F__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.ExpectedDeliveryDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCurrentDate</targetReference>
            </connector>
            <label>積込日と納品日が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionNewOrUpdate</name>
        <label>新規と更新を判定</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>getDispatchAssignToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>更新</defaultConnectorLabel>
        <rules>
            <name>isNew</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OverwriteDispatchDateTime__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStartDateAndEndDate</targetReference>
            </connector>
            <label>新規</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionSubcontractorFlag</name>
        <label>「下請け」を判定</label>
        <locationX>952</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>その他</defaultConnectorLabel>
        <rules>
            <name>falseToTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStartDateAndEndDate</targetReference>
            </connector>
            <label>下請け:False =&gt;True</label>
        </rules>
        <rules>
            <name>trueToTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkStartDateAndEndDate</targetReference>
            </connector>
            <label>下請け:True =&gt;True</label>
        </rules>
        <rules>
            <name>trueToFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubcontractorFlag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>下請け:True=&gt;False</label>
        </rules>
    </decisions>
    <decisions>
        <name>deleteDispatchAssign</name>
        <label>配車アサイン情報を削除</label>
        <locationX>952</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>decisionSubcontractorFlag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>配車アサイン情報がない</defaultConnectorLabel>
        <rules>
            <name>hasDispatchAssign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDispatchAssignToDelete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteDispatchAssignDriver_01</targetReference>
            </connector>
            <label>配車アサイン情報が存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>下請け配車処理フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>下請け配車処理フロー</label>
    <loops>
        <name>loopDispatchVehicleList</name>
        <label>配車車両リストのループ</label>
        <locationX>402</locationX>
        <locationY>1655</locationY>
        <collectionReference>DispatchVehicleListToInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDispatchAssignRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertDispatchAssignList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertDispatchAssignList</name>
        <label>配車アサイン情報を作成</label>
        <locationX>402</locationX>
        <locationY>2063</locationY>
        <faultConnector>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>DispatchAssignListToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertDispatchVehicleList</name>
        <label>配車車両リストを作成</label>
        <locationX>402</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>loopDispatchVehicleList</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>DispatchVehicleListToInsert</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteDispatchAssignDriver_01</name>
        <label>配車アサイン情報を削除</label>
        <locationX>820</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>decisionSubcontractorFlag</targetReference>
        </connector>
        <inputReference>getDispatchAssignToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getDispatchAssignToDelete</name>
        <label>配車アサイン情報を取得（削除）</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>deleteDispatchAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decisionNewOrUpdate</targetReference>
        </connector>
        <filterFormula>OR(
    AND(
        ISNEW() || ISCHANGED({!$Record.OverwriteDispatchDateTime__c}),
        {!$Record.SubcontractorFlag__c}
    ),
    AND(
        NOT(ISNEW()),
        OR(
            ISCHANGED({!$Record.CharteredVehicleNumber__c}),
            ISCHANGED({!$Record.SubcontractorFlag__c}),
            ISCHANGED({!$Record.Subcontractor__c}),
            ISCHANGED({!$Record.OrderHeader__r.LoadingDate__c}),
            ISCHANGED({!$Record.OrderHeader__r.ExpectedDeliveryDate__c})
        )
    )
)</filterFormula>
        <object>DispatchDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DispatchAssignListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DispatchAssignRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DispatchVehicleListToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>DispatchVehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
</Flow>
