force-app/main/default/flows/TRG_InactiveOldStorageFee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lock_PriorStorageFee</name>
        <label>取得した保管料のレコードを再ロック</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_PriorStorageFee.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Lock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Unlock_PriorStorageFee</name>
        <label>取得した保管料のレコードのロックを解除</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>lockRecord</actionName>
        <actionType>lockRecord</actionType>
        <connector>
            <targetReference>update_InactivePriorStorageFee</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_PriorStorageFee.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>Unlock</stringValue>
            </value>
        </inputParameters>
        <nameSegment>lockRecord</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_PriorStorageFee</name>
        <label>トリガ前のレコードの保管料の有無</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>存在しない</defaultConnectorLabel>
        <rules>
            <name>PriorStorageFee_NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StorageFee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_PriorStorageFee</targetReference>
            </connector>
            <label>存在する</label>
        </rules>
    </decisions>
    <description>商品マスタの保管料が更新された場合、古い保管料を無効化します。</description>
    <environments>Default</environments>
    <interviewLabel>古い保管料を無効化 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>古い保管料を無効化</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_PriorStorageFee</name>
        <label>変更前の保管料を取得</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unlock_PriorStorageFee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.StorageFee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>StorageFee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_InactivePriorStorageFee</name>
        <label>変更前の保管料を無効化</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Lock_PriorStorageFee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_PriorStorageFee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>StorageFee__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_PriorStorageFee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StorageFee__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductMaster__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
