force-app/main/default/flows/TRG_CopyTransportationExpenseToDispatchVehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_NumberOfRecords</name>
        <label>レコード数をカウント</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>取得できた配車アサイン情報が0個もしくは複数個の場合、ログ処理のみです。
仮に複数個取得されて上書きが起っても、問題ありません。</description>
        <name>UniqueName</name>
        <label>レコードを抽出</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_TargetRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_CountRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_CountRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_NumberOfRecords</name>
        <label>配車アサイン情報が一つであることを確認</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>create_ErrorLog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>0個または複数個</defaultConnectorLabel>
        <rules>
            <name>NumberOfRecords_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOfRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_CopyToDispatchVehicle</targetReference>
            </connector>
            <label>配車アサイン情報が一つ</label>
        </rules>
    </decisions>
    <description>運送経費明細のレコードが作成された場合、該当する配車アサイン情報を検索し、配車アサイン情報のレコードが参照している配車明細と配車車両に転記します。また、注文の運賃が上書きされます。</description>
    <environments>Default</environments>
    <formulas>
        <description>入力されたテキスト型の日付を、日付型に変換します。
入力としてYYYY/MM/DD, YYYY/M/DD, YYYY/M/Dのパターンを想定しています</description>
        <name>DispatchDate_F</name>
        <dataType>Date</dataType>
        <expression>DATE(
  VALUE(LEFT({!$Record.DeliveryDate__c}, 4)),
  VALUE(
    LPAD(
      SUBSTITUTE(MID({!$Record.DeliveryDate__c}, 6, 2), &quot;/&quot;, &quot;&quot;), 2, &quot;0&quot;
    )
  ),
  VALUE(
    LPAD(
     SUBSTITUTE(RIGHT({!$Record.DeliveryDate__c}, 2), &quot;/&quot;, &quot;&quot;), 2, &quot;0&quot;
    )
  )
)</expression>
    </formulas>
    <formulas>
        <name>ErrorMassage_F</name>
        <dataType>String</dataType>
        <expression>IF (
  {!var_NumberOfRecords} = 0,
  &quot;配車アサイン情報が見つかりません。&quot;,
  TEXT({!var_NumberOfRecords}) &amp; &quot;件の配車アサイン情報が見つかりました。転記先の配車車両レコードが不明です。&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ProcessSubject_F</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) &amp;
LPAD(TEXT(MONTH(TODAY())), 2 , &quot;0&quot;) &amp;
LPAD(TEXT(DAY(TODAY())), 2 , &quot;0&quot;) &amp;
&quot;：富士エコー運賃明細のインポート失敗&quot;</expression>
    </formulas>
    <interviewLabel>富士エコー運賃明細を配車車両に転記 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>富士エコー運賃明細を配車明細と配車車両に転記</label>
    <loops>
        <name>loop_CountRecords</name>
        <label>レコードの個数を計上</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>get_DispatchAssignDriver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_NumberOfRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_NumberOfRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_ErrorLog</name>
        <label>一括処理ログにエラーを出力</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>ProcessDetails__c</field>
            <value>
                <elementReference>var_ErrorDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStatus__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessSubject__c</field>
            <value>
                <elementReference>ProcessSubject_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessType__c</field>
            <value>
                <stringValue>ImportFujiechoFareDetail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToEmailAddresses__c</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToEmailGroupAddresses__c</field>
            <value>
                <stringValue>DispatchGroup</stringValue>
            </value>
        </inputAssignments>
        <object>BulkProcessLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_DispatchAssignDriver</name>
        <label>配車アサイン情報を取得</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_CountRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDate_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DispatchDate_F</elementReference>
            </value>
        </filters>
        <filters>
            <field>CourseName_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CourseName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_CopyToDispatchDetail</name>
        <label>配車明細レコードに転記</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>update_OrderHeader</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TargetRecord.DispatchDetail__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustmentAmount__c</field>
            <value>
                <elementReference>$Record.AdjustmentAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BaseFare__c</field>
            <value>
                <elementReference>$Record.BaseFare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrivingDistance__c</field>
            <value>
                <elementReference>$Record.DrivingDistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementTime__c</field>
            <value>
                <elementReference>$Record.EngagementTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtraDistanceCharge__c</field>
            <value>
                <elementReference>$Record.ExtraDistanceCharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtraTimeCharge__c</field>
            <value>
                <elementReference>$Record.ExtraTimeCharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalFare__c</field>
            <value>
                <elementReference>$Record.TotalFare__c</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchDetail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_CopyToDispatchVehicle</name>
        <label>配車車両レコードに転記</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>update_CopyToDispatchDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TargetRecord.DispatchVehicle__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AdjustmentAmount__c</field>
            <value>
                <elementReference>$Record.AdjustmentAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BaseFare__c</field>
            <value>
                <elementReference>$Record.BaseFare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DrivingDistance__c</field>
            <value>
                <elementReference>$Record.DrivingDistance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EngagementTime__c</field>
            <value>
                <elementReference>$Record.EngagementTime__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtraDistanceCharge__c</field>
            <value>
                <elementReference>$Record.ExtraDistanceCharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExtraTimeCharge__c</field>
            <value>
                <elementReference>$Record.ExtraTimeCharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalFare__c</field>
            <value>
                <elementReference>$Record.TotalFare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VehicleType__c</field>
            <value>
                <elementReference>$Record.VehicleType__c</elementReference>
            </value>
        </inputAssignments>
        <object>DispatchVehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_OrderHeader</name>
        <label>注文レコードを更新</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TargetRecord.DispatchDetail__r.OrderHeader__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.TotalFare__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManualUpdateFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManualUpdateNote__c</field>
            <value>
                <stringValue>富士エコーの運賃明細のインポートによる、注文の運賃の上書き</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingFeeManualFlag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice__c</field>
        </inputAssignments>
        <object>OrderHeader__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_DispatchAssignDriver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeliveryDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CourseName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>TransportationExpenseDetail__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>var_ErrorDetails</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;対象の富士エコー運賃明細のID：{!$Record.Id}&lt;/p&gt;&lt;p&gt;エラーメッセージ：{!ErrorMassage_F}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_NumberOfRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TargetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
</Flow>
