force-app/main/default/flows/TRG_PriceTableBeforeFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_CarryOutDateAndPriceTableType</name>
        <label>実施日とタイプの入力チェック</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>remove_UniqueKey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>どちらかが null</defaultConnectorLabel>
        <rules>
            <name>CarryOutDateAndPriceTableType_AreNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CarryOutDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PriceTableType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_UniqueKey</targetReference>
            </connector>
            <label>どちらも null でない</label>
        </rules>
    </decisions>
    <description>価格管理の高速項目更新フローです。</description>
    <environments>Default</environments>
    <formulas>
        <description>・Active__c が true の場合：{取引先} + &quot;:&quot; + {実施日} + &quot;:&quot; + {タイプ}
・Active__c が false の場合：{カスタムオブジェクト ID}</description>
        <name>formula_UniqueKey</name>
        <dataType>String</dataType>
        <expression>IF (
  {!$Record.Active__c},
  {!$Record.Account__r.Name} + &quot;:&quot; + TEXT({!$Record.CarryOutDate__c}) + &quot;:&quot;  + TEXT({!$Record.PriceTableType__c}),
  {!$Record.Id}
)</expression>
    </formulas>
    <interviewLabel>価格管理の高速フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>価格管理の高速フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>remove_UniqueKey</name>
        <label>一意キーを null に設定</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>UniqueKey__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>set_UniqueKey</name>
        <label>一意キーを設定</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>UniqueKey__c</field>
            <value>
                <elementReference>formula_UniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_CarryOutDateAndPriceTableType</targetReference>
        </connector>
        <object>PriceTable__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
