force-app/main/default/flows/TRG_ApplyLatestStorageFee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>IsStorageFeeExist</name>
        <label>保管料レコードが存在するか</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>保管料レコードなし</defaultConnectorLabel>
        <rules>
            <name>StorageFee_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_StorageFee</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transform_StorageFeeToProductMaster</targetReference>
            </connector>
            <label>保管料レコードあり</label>
        </rules>
    </decisions>
    <description>最新の保管料レコードを商品マスタに適応します</description>
    <environments>Default</environments>
    <interviewLabel>最新の {!$Flow.CurrentDateTime}</interviewLabel>
    <label>最新の保管料を商品マスタに適応</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_StorageFee</name>
        <label>保管料レコードを取得</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStorageFeeExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PriceTable__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_F__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>StorageFee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_ProductMasterList</name>
        <label>商品マスタレコードを更新</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <inputReference>transform_StorageFeeToProductMaster</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CarryOutDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PriceTableType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>StorageFee</stringValue>
            </value>
        </filters>
        <object>PriceTable__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>CarryOutDate</name>
            <connector>
                <targetReference>get_StorageFee</targetReference>
            </connector>
            <label>実施日</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CarryOutDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>transform_StorageFeeToProductMaster</name>
        <label>商品マスタに最新の保管料を結び付け</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>update_ProductMasterList</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ProductMaster__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>StorageFee__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_StorageFee[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>get_StorageFee[$EachItem].ProductMaster__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ProductMasterList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductMaster__c</objectType>
    </variables>
</Flow>
