force-app/main/default/flows/UpsertStatusByChangeDispatchDateTime.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>CheckDispatchDateTime</name>
        <label>配車日時NULLの判定</label>
        <locationX>374</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>ChangeStatus_ReceptionCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DispatchDateTime__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ReceptionCompleted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderHeader__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DispatchCompleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrderHeaderShippingCompany</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckGetDispatchDetail</name>
        <label>配車明細取得を判断</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckDispatchDateTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDispatchDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>レコードある</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>配車日時変更により注文状態を更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>配車日時変更のより注文の状態更新</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDispatchDetail</name>
        <label>配車明細を取得</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGetDispatchDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderHeader__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DispatchDateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DispatchDetail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ChangeStatus_ReceptionCompleted</name>
        <label>注文の状態受付確認済に更新</label>
        <locationX>506</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCompany__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>ReceptionCompleted</stringValue>
            </value>
        </inputAssignments>
        <object>OrderHeader__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderHeaderShippingCompany</name>
        <label>注文の配送会社を更新</label>
        <locationX>242</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>updateOrderHeaderStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCompany__c</field>
            <value>
                <elementReference>$Record.Subcontractor__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderHeader__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderHeaderStatus</name>
        <label>注文状態を更新</label>
        <locationX>242</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>DispatchCompleted</stringValue>
            </value>
        </inputAssignments>
        <object>OrderHeader__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDispatchDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>DispatchDetail__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
