force-app/main/default/flows/UpsertReimbursementDetailFromProductStockInfo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>PutInProductStockInfo</name>
        <label>在庫情報の割り当て</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProductStockInfo.ReimbursementDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReimbursementDetailID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductStockInfo.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateProductStockInfo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckReimbursementDetail</name>
        <label>弁償・立替確認</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>InsertReimbursementDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReimbursementDetail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateReimbursementDetail</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today_F</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>在庫情報から弁償明細を作成 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>在庫情報から弁償・立替を作成</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertCase</name>
        <label>ケースを作成</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateReimbursementDetail2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>新規</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>弁償・立替が作成されました</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>InsertReimbursementDetail</name>
        <label>弁償・立替を作成する</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignRecordIdToReference>ReimbursementDetailID</assignRecordIdToReference>
        <connector>
            <targetReference>PutInProductStockInfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignor__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Today_F</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductMaster__c</field>
            <value>
                <elementReference>$Record.ProductMaster__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReimbursementComment__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReimbursementDetail__c</object>
    </recordCreates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>ケースを更新</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ReimbursementDetail__r.Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProductStockInfo</name>
        <label>在庫情報を更新</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>InsertCase</targetReference>
        </connector>
        <inputReference>ProductStockInfo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReimbursementDetail</name>
        <label>弁償・立替を更新する</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignor__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductMaster__c</field>
            <value>
                <elementReference>$Record.ProductMaster__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReimbursementComment__c</field>
            <value>
                <elementReference>$Record.Remark__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.ReimbursementDetail__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateReimbursementDetail2</name>
        <label>弁償・立替を更新</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReimbursementDetailID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <object>ReimbursementDetail__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckReimbursementDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PayQuantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PayQuantity__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>ProductStockInfo__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductStockInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductStockInfo__c</objectType>
    </variables>
    <variables>
        <name>ReimbursementDetailID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
