force-app/main/default/flows/UpsertScheduleByChangeWeeklyOffSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddTo_AssignDriverScheduleCollection</name>
        <label>AssignWeeklyoffCollectionに追加</label>
        <locationX>1430</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AssignWeeklyoffCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddToTempDriverScheduleIdListLoop.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToTempDriverScheduleIdListLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTo_Upsert</name>
        <label>Upsert用リストへ追加</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>DriverScheduleForUpsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDriverSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SingleDatePlus1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToAssignDriverScheduleCollection</name>
        <label>AssignDriverScheduleCollectionに追加</label>
        <locationX>1166</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>AssignDriverScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddToTempDriverScheduleIdListLoop.UniqueKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToTempDriverScheduleIdListLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCheck</name>
        <label>すべて曜日の数字をCheck集合に追加</label>
        <locationX>1078</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>AllCheckedWeekDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempAllCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToUncheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToTempDriverScheduleIdList</name>
        <label>TempDriverScheduleIdListに追加</label>
        <locationX>1166</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TempDriverScheduleIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddToTempDriverScheduleIdListLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToAssignDriverScheduleCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToUncheck</name>
        <label>すべて曜日の数字をUncheck集合に追加</label>
        <locationX>1078</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AllUncheckedWeekDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempAllNotCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAutoGenWeeklyOffPeriodMeta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddUpsert1</name>
        <label>Upsert用リストへ追加</label>
        <locationX>380</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>DriverScheduleForUpsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleDriverSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SingleDatePlus1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalPLus60</name>
        <label>60日後の日付を計算</label>
        <locationX>1078</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TodayPlus60</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAutoGenWeeklyOffPeriod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>step1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>配車アサイン情報を外す、強制更新フラグをオフにするのは別フロー</description>
        <name>ForUpdateAssignDriver</name>
        <label>配車アサイン情報など更新用</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>OverWriteUpdateScheduleCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>step2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCustomError</name>
        <label>「配車を上書き更新」のチェックがされていないエラーメッセージ</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>CustomError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetInfo</name>
        <label>基本情報の割り当て</label>
        <locationX>754</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.WorkStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempUniquekey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTo_Upsert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleDatePlus1</name>
        <label>中間計算用日付＋１</label>
        <locationX>787</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>SingleDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckDatePlus60</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>step1</name>
        <label>中間計算用日付の初期化</label>
        <locationX>1078</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SingleDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.WeeklyOffStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDriverSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>step2</name>
        <label>基本情報の割り当て</label>
        <locationX>380</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.WorkStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WeeklyOff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SingleDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleDriverSchedule.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempUniquekey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpsert1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDatePlus60</name>
        <label>中間計算用日付が現在時間＋60日になったか</label>
        <locationX>1078</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>&gt;現在日付＋60</defaultConnectorLabel>
        <rules>
            <name>StartCal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayPlus60</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IfContain</targetReference>
            </connector>
            <label>&lt;=現在日付＋60</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfContain</name>
        <label>中間計算用日付の分類</label>
        <locationX>787</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>SingleDatePlus1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UniqueName</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllCheckedWeekDay</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempDateWeekDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OverWrite</targetReference>
            </connector>
            <label>定休日チェックする</label>
        </rules>
        <rules>
            <name>Do2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllUncheckedWeekDay</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempDateWeekDay</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWeeklyoff</targetReference>
            </connector>
            <label>定休日チェック外す</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsGoCAR</name>
        <label>配車済みかどうか</label>
        <locationX>1298</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>AddTo_AssignDriverScheduleCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>定休日</defaultConnectorLabel>
        <rules>
            <name>TheGoCar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddToTempDriverScheduleIdListLoop.Dispatched_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToTempDriverScheduleIdList</targetReference>
            </connector>
            <label>配車済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsWeeklyoff</name>
        <label>更新前が定休日か</label>
        <locationX>886</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>SingleDatePlus1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Weeklyoff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignWeeklyoffCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetInfo</targetReference>
            </connector>
            <label>定休日</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverWrite</name>
        <label>配車の上書き更新必要か</label>
        <locationX>380</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>step2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>need</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignDriverScheduleCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>TempUniquekey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateByOverwriteCheck</targetReference>
            </connector>
            <label>必要</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateByOverwriteCheck</name>
        <label>上書きで更新か</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>SetCustomError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>UpdateByOverwrite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Record.OverwriteDispatchDateTime__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Record_Prior.OverwriteDispatchDateTime__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForUpdateAssignDriver</targetReference>
            </connector>
            <label>上書きで更新</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GetAutoGenWeeklyOffPeriod</name>
        <dataType>Number</dataType>
        <expression>IF( ISBLANK({!GetAutoGenWeeklyOffPeriodMeta.Value__c}), 60, VALUE({!GetAutoGenWeeklyOffPeriodMeta.Value__c}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TempAllCheck</name>
        <dataType>String</dataType>
        <expression>IF({!Record.Monday__c}, &quot;0&quot;, &quot;&quot;) &amp;
IF({!Record.Tuesday__c}, &quot;1&quot;, &quot;&quot;) &amp;
IF({!Record.Wednesday__c}, &quot;2&quot;, &quot;&quot;) &amp;
IF({!Record.Thursday__c}, &quot;3&quot;, &quot;&quot;) &amp;
IF({!Record.Friday__c}, &quot;4&quot;, &quot;&quot;) &amp;
IF({!Record.Saturday__c}, &quot;5&quot;, &quot;&quot;) &amp;
IF({!Record.Sunday__c}, &quot;6&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>TempAllNotCheck</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Record.Monday__c}), &quot;0&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Tuesday__c}), &quot;1&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Wednesday__c}), &quot;2&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Thursday__c}), &quot;3&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Friday__c}), &quot;4&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Saturday__c}), &quot;5&quot;, &quot;&quot;) &amp;
IF(NOT({!Record.Sunday__c}), &quot;6&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>中間計算用日付のが何曜日なのかを計算</description>
        <name>TempDateWeekDay</name>
        <dataType>String</dataType>
        <expression>IF( WEEKDAY({!SingleDate}) == 2, &quot;0&quot;, 
IF( WEEKDAY({!SingleDate}) == 3, &quot;1&quot;, 
IF( WEEKDAY({!SingleDate}) == 4, &quot;2&quot;, 
IF( WEEKDAY({!SingleDate}) == 5, &quot;3&quot;, 
IF( WEEKDAY({!SingleDate}) == 6, &quot;4&quot;, 
IF( WEEKDAY({!SingleDate}) == 7, &quot;5&quot;, 
IF( WEEKDAY({!SingleDate}) == 0, &quot;6&quot;, &quot;&quot;)))))))</expression>
    </formulas>
    <formulas>
        <name>TempUniquekey</name>
        <dataType>String</dataType>
        <expression>{!Record.Id}+
TEXT(YEAR({!SingleDate})) &amp; 
LPAD(TEXT(MONTH({!SingleDate})), 2 , &quot;0&quot;) &amp; 
LPAD(TEXT(DAY({!SingleDate})), 2, &quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>定休日変更時勤務情報変動サブフロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>定休日変更時勤務情報変動サブフロー</label>
    <loops>
        <name>AddToTempDriverScheduleIdListLoop</name>
        <label>TempDriverScheduleIdListに追加のループ</label>
        <locationX>1078</locationX>
        <locationY>782</locationY>
        <collectionReference>GetDriverSchedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsGoCAR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CheckDatePlus60</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAutoGenWeeklyOffPeriodMeta</name>
        <label>定休日自動生成期間を取得</label>
        <locationX>1078</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalPLus60</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoGenWeeklyOffPeriod</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MFJSetting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>ユニックキーがある勤務予定を取得</description>
        <name>GetDriverSchedule</name>
        <label>ユニックキーがある勤務予定を取得</label>
        <locationX>1078</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToTempDriverScheduleIdListLoop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 )</filterLogic>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Record.WeeklyOffStartDate__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>TodayPlus60</elementReference>
            </value>
        </filters>
        <filters>
            <field>UniqueKey__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WorkStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WeeklyOff</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dispatched_Cnt__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DriverSchedule__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>952</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AddToCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>チェックした日付のコレクション</description>
        <name>AllCheckedWeekDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>チェックしていない日付のコレクション</description>
        <name>AllUncheckedWeekDay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AssignDriverScheduleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignWeeklyoffCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DriverScheduleForUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>OverWriteUpdateScheduleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverMaster__c</objectType>
    </variables>
    <variables>
        <name>Record_Prior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverMaster__c</objectType>
    </variables>
    <variables>
        <description>中間計算用日付</description>
        <name>SingleDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleDriverSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>TempDriverScheduleIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TodayPlus60</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
