force-app/main/default/flows/UpsertScheduleByChangeWeeklyOff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddToDispatchAssignDriverUpdateList</name>
        <label>DispatchAssignDriverUpdateListに追加</label>
        <locationX>138</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignDriverUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DispatchAssignDriverUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeleteReferenceOfDispatchAssignDriverLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToProcessLogList</name>
        <label>ProcessLogListに追加</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ProcessLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProcessLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ClearProcessLogMail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToProcessLogList2</name>
        <label>ProcessLogListに追加</label>
        <locationX>314</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>ProcessLogList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleProcessLog</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProcessLogList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearProcessLogMail</name>
        <label>処理ログクリア</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>GetDispatchAssignDriver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DeleteReferenceOfDispatchAssignDriver</name>
        <label>配車アサイン情報の参照関係を削除</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignDriverUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DeleteReferenceOfDispatchAssignDriverLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchAssignDriverUpdateRecord.DriverSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToDispatchAssignDriverUpdateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogErrorAssignDriverSchedule</name>
        <label>処理ログ：異常</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UpsertScheduleByChangeWeeklyOff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>配車アサイン情報更新エラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessLog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>勤務予定 レコードUpsertにエラー発生しました。</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AddToProcessLogList2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogErrorUpsert</name>
        <label>処理ログ：異常</label>
        <locationX>314</locationX>
        <locationY>2285</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UpsertScheduleByChangeWeeklyOff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>フローエラー</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessLog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>勤務予定 レコードUpsertにエラー発生しました。</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>AddToProcessLogList2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProcessLogSendMail</name>
        <label>処理ログメール送信</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UpsertScheduleByChangeWeeklyOff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>定休日反映のため、配車アサイン情報の更新処理</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ProcessDetails__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>配車アサイン情報から勤務情報への参照を削除する処理開始</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleProcessLog.ToEmailGroupAddresses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DispatchGroup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToProcessLogList</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>DisplayCustomError</name>
        <label>「配車を上書き更新」のチェックがされていないエラーメッセージ</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>{!ErrorMessage1}</errorMessage>
            <fieldSelection>OverwriteDispatch__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>HaveError</name>
        <label>カスタムエラーがあるか</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DisplayCustomError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>カスタムエラーがある</defaultConnectorLabel>
        <rules>
            <name>DisplayError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update2</targetReference>
            </connector>
            <label>カスタムエラーがない</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaveRecord</name>
        <label>勤務情報Upsertレコードがあるか</label>
        <locationX>314</locationX>
        <locationY>2069</locationY>
        <defaultConnector>
            <targetReference>AddToProcessLogList2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>X17_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DriverScheduleForUpsert</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DriverScheduleForUpsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upsert</targetReference>
            </connector>
            <label>レコード数が1以上</label>
        </rules>
    </decisions>
    <decisions>
        <name>OverwriteOrNot</name>
        <label>上書きかどうか</label>
        <locationX>270</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>DeleteReferenceOfDispatchAssignDriverLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>IncludedInOverWriteUpdateScheduleCollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OverWriteUpdateScheduleCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DeleteReferenceOfDispatchAssignDriverLoop.DriverSchedule__r.UniqueKey__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteReferenceOfDispatchAssignDriver</targetReference>
            </connector>
            <label>OverWriteUpdateScheduleCollectionに含まれる</label>
        </rules>
    </decisions>
    <decisions>
        <name>update2</name>
        <label>配車アサイン情報など更新が必要か</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>HaveRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>update2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OverWriteUpdateScheduleCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OverWriteUpdateScheduleCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProcessLogSendMail</targetReference>
            </connector>
            <label>レコード数が1以上</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ErrorMessage1</name>
        <dataType>String</dataType>
        <expression>&apos;既に配車済みの日があります。「配車を上書き更新」をチェックするか、定休日適用開始日を修正してください。&apos;</expression>
    </formulas>
    <interviewLabel>定休日変更時勤務情報変動 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>定休日変更時勤務情報変動</label>
    <loops>
        <name>DeleteReferenceOfDispatchAssignDriverLoop</name>
        <label>配車アサイン情報の参照関係を削除のループ</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <collectionReference>GetDispatchAssignDriver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OverwriteOrNot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateReferenceDeletedDispatchAssignDriver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateProcessLogList</name>
        <label>ProcessLogList作成</label>
        <locationX>314</locationX>
        <locationY>2675</locationY>
        <inputReference>ProcessLogList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>upsert</name>
        <label>upsert</label>
        <locationX>50</locationX>
        <locationY>2177</locationY>
        <connector>
            <targetReference>AddToProcessLogList2</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <doesUpsertAllOrNone>true</doesUpsertAllOrNone>
        <faultConnector>
            <targetReference>ProcessLogErrorUpsert</targetReference>
        </faultConnector>
        <inputReference>DriverScheduleForUpsert</inputReference>
        <upsertExternalIdField>UniqueKey__c</upsertExternalIdField>
    </recordCreates>
    <recordLookups>
        <name>GetDispatchAssignDriver</name>
        <label>配車アサイン情報を取得</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteReferenceOfDispatchAssignDriverLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DriverSchedule__c</field>
            <operator>In</operator>
            <value>
                <elementReference>TempDriverScheduleIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateReferenceDeletedDispatchAssignDriver</name>
        <label>参照関係を削除した配車アサイン情報を更新</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>HaveRecord</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ProcessLogErrorAssignDriverSchedule</targetReference>
        </faultConnector>
        <inputReference>DispatchAssignDriverUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetInfo</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 ) AND 9</filterLogic>
        <filters>
            <field>Monday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tuesday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Wednesday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Thursday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Friday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Saturday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sunday__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OverwriteDispatchDateTime__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DriverMaster__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetInfo</name>
        <label>定休日変更時勤務情報変動を取得</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>HaveError</targetReference>
        </connector>
        <flowName>UpsertScheduleByChangeWeeklyOffSubflow</flowName>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Record_Prior</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CustomError</assignToReference>
            <name>CustomError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DriverScheduleForUpsert</assignToReference>
            <name>DriverScheduleForUpsert</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OverWriteUpdateScheduleCollection</assignToReference>
            <name>OverWriteUpdateScheduleCollection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TempDriverScheduleIdList</assignToReference>
            <name>TempDriverScheduleIdList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CustomError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DispatchAssignDriverUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DispatchAssignDriverUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DriverScheduleForUpsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>OverWriteUpdateScheduleCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessLogList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BulkProcessLog__c</objectType>
    </variables>
    <variables>
        <name>SingleProcessLog</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BulkProcessLog__c</objectType>
    </variables>
    <variables>
        <name>TempDriverScheduleIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
