force-app/main/default/flows/VehicleMasterDispatchProcessFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addTo</name>
        <label>配車車両リストに追加</label>
        <locationX>1986</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>DispatchVehicleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DispatchVehicleRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniqueKeyList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAssignDateList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addToDispatchAssignList</name>
        <label>アサインリストに追加</label>
        <locationX>2074</locationX>
        <locationY>5039</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignListToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DispatchAssignDriverRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAssignDateList2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getDateAssign</name>
        <label>当日アサインを取得</label>
        <locationX>2162</locationX>
        <locationY>4739</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignDriverRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDateAssignResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDateAssignResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getDateVehicle</name>
        <label>当日配車車両を取得</label>
        <locationX>2162</locationX>
        <locationY>4439</locationY>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopDateVehicleResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopDateVehicleResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewSetLoadingDateDriverSchedule</name>
        <label>初期化割り当てLoadingDateDriverSchedule</label>
        <locationX>776</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>LoadingDateDriverSchedule</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>FilteredDriverSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setAssignDispatchVehicle</name>
        <label>アサインの配車車両を設定</label>
        <locationX>2074</locationX>
        <locationY>4931</locationY>
        <assignmentItems>
            <assignToReference>DispatchAssignDriverRecord.DispatchVehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispatchVehicleRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToDispatchAssignList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDispatchAssignDrive2</name>
        <label>配車アサイン情報２を作成</label>
        <locationX>1920</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>InsertAssign2.DriverSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoopInsertScheduleList.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertAssign2.DispatchDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDispatchAssignDriverList2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDispatchAssignDriver1</name>
        <label>配車アサイン情報１を作成</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>InsertAssign1.DriverSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoadingDateDriverSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertAssign1.DispatchDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDispatchAssignDriverList1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDispatchAssignDriverList1</name>
        <label>配車アサイン情報リストに追加</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>InsertAssignList1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsertAssign1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDispatchAssignDriverList2</name>
        <label>配車アサイン情報リストに追加</label>
        <locationX>1920</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>InsertAssignList1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsertAssign2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RoopInsertScheduleList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDispatchVehicleRecord</name>
        <label>配車車両を設定</label>
        <locationX>1986</locationX>
        <locationY>2867</locationY>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAssignDateList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.VehicleMaster__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VehicleMaster__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.UsageType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DispatchVehicleRecord.UniqueKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addTo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetError</name>
        <label>エラーレコードを作成</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetErrorList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetErrorList</name>
        <label>エラーリストに追加</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>ErrorDetailList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ErrorDetail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInsertScheduleRecord</name>
        <label>勤務情報を作成する</label>
        <locationX>842</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>InsertSchedule.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loadingDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertSchedule.Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DriverMaster__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetInsertScheduleRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetInsertScheduleRecordList</name>
        <label>勤務情報リストに追加</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>InsertScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsertSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLoadingDateDriverSchedule</name>
        <label>割り当てLoadingDateDriverSchedule</label>
        <locationX>864</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>LoadingDateDriverSchedule</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FilteredDriverSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilteredDriverSchedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateSchedule</name>
        <label>勤務情報を変更</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>UpdateSchedule.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoadingDateDriverSchedule.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetUpdateScheduleList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateScheduleList</name>
        <label>勤務情報リストに追加</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>UpdateScheduleList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDispatchAssignDriver1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UniqueName</name>
        <label>積込日+1</label>
        <locationX>446</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>loadingDate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CheckLoadingAndExpectedDelivery</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ChecklLoadingDate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>勤務情報.日付 = LoadingDate</label>
        <locationX>776</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_ChecklLoadingDate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetDriverScheduleByRecordPrior2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ChecklLoadingDate.Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loadingDate</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>NewSetLoadingDateDriverSchedule</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>filterNewDispatchVehicle</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>新配車車両を検索</label>
        <locationX>1766</locationX>
        <locationY>3599</locationY>
        <assignNextValueToReference>currentItem_filterNewDispatchVehicle</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>DispatchVehicleList</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>insertNewDispatchVehicleList01</targetReference>
        </connector>
        <formula>NOT(CONTAINS({!UniqueKeyList},{!currentItem_filterNewDispatchVehicle.UniqueKey__c}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>searchDateAssign</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>当日アサイン情報を検索</label>
        <locationX>2074</locationX>
        <locationY>4115</locationY>
        <assignNextValueToReference>currentItem_searchDateAssign_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getDispatchAssignDriver</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_searchDateAssign_0.Date_F__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loopAssignDateList2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>searchDateVehicle</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>searchDateVehicle</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>当日配車車両を検索</label>
        <locationX>2074</locationX>
        <locationY>4223</locationY>
        <assignNextValueToReference>currentItem_searchDateVehicle_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getUpsertedDispatchVehicleList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_searchDateVehicle_0.Date__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loopAssignDateList2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loopDateVehicleResult</targetReference>
        </connector>
    </collectionProcessors>
    <customErrors>
        <description>ドライバーが休みになった場合、配車エラーのメッセージを表示</description>
        <name>DispatchError</name>
        <label>配車エラー</label>
        <locationX>1370</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>ドライバーが休暇ので、配車できません。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>InsertDispatchAssignDriverError</name>
        <label>配車アサイン作成エラー</label>
        <locationX>2558</locationX>
        <locationY>2327</locationY>
        <customErrorMessages>
            <errorMessage>配車アサインの作成はエラー発生します</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>InsertDriverScheduleError</name>
        <label>勤務情報作成エラー</label>
        <locationX>2096</locationX>
        <locationY>1727</locationY>
        <customErrorMessages>
            <errorMessage>勤務情報の作成はエラー発生します</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>LoadingExpectedDeliveryDateError</name>
        <label>積込日納品日エラー</label>
        <locationX>2822</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>積込日または納品日が未入力のため、配車できません。</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>UpdateDriverScheduleError</name>
        <label>勤務情報更新エラー</label>
        <locationX>2096</locationX>
        <locationY>1187</locationY>
        <customErrorMessages>
            <errorMessage>勤務情報の更新はエラー発生します</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>checkDispatchAssignDriverToDelete</name>
        <label>配車アサイン情報を取得(削除)の判断</label>
        <locationX>327</locationX>
        <locationY>6059</locationY>
        <defaultConnector>
            <targetReference>decisionDriverPrior</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HaveRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDispatchAssignDriverToDelete</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DriverScheduleIdList</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckDriver</name>
        <label>保存後ドライバーを判断する</label>
        <locationX>327</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>PriorDriverNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ドライバー変更</defaultConnectorLabel>
        <rules>
            <name>DriverNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDispatchAssignDriverToDelete</targetReference>
            </connector>
            <label>Nullに変更</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckErrorList</name>
        <label>エラーレコードリスト</label>
        <locationX>1733</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>CheckUpdateScheduleList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HaveError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorDetailList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DispatchError</targetReference>
            </connector>
            <label>エラーある</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckInsertScheduleList</name>
        <label>勤務情報作成</label>
        <locationX>2096</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>InsertDispatchAssignDriver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HaveInsertScheduleList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsertScheduleList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertDriverSchedule</targetReference>
            </connector>
            <label>勤務情報作成ある</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecklHaveRecord</name>
        <label>日付 = LoadingDateのレコードあるかどうか</label>
        <locationX>776</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetInsertScheduleRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>なし</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoadingDateDriverSchedule.Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loadingDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWorkStatus2</targetReference>
            </connector>
            <label>ある</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLoadingAndExpectedDelivery</name>
        <label>積込日 + 1 と 納品日 を比較</label>
        <locationX>1254</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>CheckErrorList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>積込日 + 1 ＞ 納品日</defaultConnectorLabel>
        <rules>
            <name>LessThan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loadingDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OrderHeader__r.ExpectedDeliveryDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChecklLoadingDate</targetReference>
            </connector>
            <label>積込日 + 1 ＜＝ 納品日</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLoadingExpectedDeliveryDate</name>
        <label>積込日＆納品日の判断</label>
        <locationX>2038</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LoadingExpectedDeliveryDateError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HaveValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoadingDate_F__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ExpectedDeliveryDate_F__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDriverScheduleByRecordPrior2</targetReference>
            </connector>
            <label>あり</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUpdateScheduleList</name>
        <label>勤務情報更新</label>
        <locationX>2096</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>CheckInsertScheduleList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>HaveUpdateScheduleList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateScheduleList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDriverSchedule</targetReference>
            </connector>
            <label>勤務情報更新ある</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWorkStatus2</name>
        <label>勤務状況を判断する２</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>SetInsertScheduleRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>workDay2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoadingDateDriverSchedule.WorkStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkDay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUpdateSchedule</targetReference>
            </connector>
            <label>勤務</label>
        </rules>
        <rules>
            <name>dayOffOrWeeklyOff2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LoadingDateDriverSchedule.WorkStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DayOff</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoadingDateDriverSchedule.WorkStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WeeklyOff</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetError</targetReference>
            </connector>
            <label>休み/定休</label>
        </rules>
        <rules>
            <name>dispatched2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoadingDateDriverSchedule.Dispatched_Cnt__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetDispatchAssignDriver1</targetReference>
            </connector>
            <label>配車済み</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDispatchVehicle</name>
        <label>配車車両を判定</label>
        <locationX>2096</locationX>
        <locationY>2327</locationY>
        <defaultConnectorLabel>配車車両がない</defaultConnectorLabel>
        <rules>
            <name>hasDispatchVehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VehicleMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDispatchAssignDriverIdList</targetReference>
            </connector>
            <label>配車車両が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionDriverPrior</name>
        <label>変更後のドライバーを判定</label>
        <locationX>327</locationX>
        <locationY>6575</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasDriver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetDriverScheduleByRecordPrior2</targetReference>
            </connector>
            <label>変更後のドライバーが存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionOldDispatchVehicle</name>
        <label>既存配車車両を判定</label>
        <locationX>1898</locationX>
        <locationY>3275</locationY>
        <defaultConnector>
            <targetReference>insertNewDispatchVehicleList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>hasOldDispatchVehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOldDispatchVehicle</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>transformUnikeyList</targetReference>
            </connector>
            <label>既存配車車両が存在</label>
        </rules>
    </decisions>
    <decisions>
        <name>PriorDriverNotNull</name>
        <label>保存前ドライバーを判断する</label>
        <locationX>956</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckLoadingExpectedDeliveryDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>変更前ドライバーNull</defaultConnectorLabel>
        <rules>
            <name>PriorDriverIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.DriverMaster__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDispatchAssignDriverToDelete</targetReference>
            </connector>
            <label>変更前ドライバーNotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UniqueKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.VehicleMaster__c} &amp;  
    TEXT(YEAR({!loopAssignDateList})) &amp;  
    LPAD(TEXT(MONTH({!loopAssignDateList})), 2, &apos;0&apos;) &amp;  
    LPAD(TEXT(DAY({!loopAssignDateList})), 2, &apos;0&apos;)</expression>
    </formulas>
    <interviewLabel>配車アサイン情報 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>自社車両配車処理フロー</label>
    <loops>
        <name>FilteredDriverSchedule</name>
        <label>勤務情報Filtered</label>
        <locationX>776</locationX>
        <locationY>1079</locationY>
        <collectionReference>ChecklLoadingDate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetLoadingDateDriverSchedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ChecklHaveRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAssignDateList</name>
        <label>アサイン日付のループ</label>
        <locationX>1898</locationX>
        <locationY>2759</locationY>
        <collectionReference>getAssignDateList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDispatchVehicleRecord</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOldDispatchVehicle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAssignDateList2</name>
        <label>アサイン日付のループ2</label>
        <locationX>1898</locationX>
        <locationY>4007</locationY>
        <collectionReference>getAssignDateList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>searchDateAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAssignList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopDateAssignResult</name>
        <label>当日アサイン検索結果のループ</label>
        <locationX>2074</locationX>
        <locationY>4631</locationY>
        <collectionReference>searchDateAssign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getDateAssign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>setAssignDispatchVehicle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopDateVehicleResult</name>
        <label>当日配車車両検索結果のループ</label>
        <locationX>2074</locationX>
        <locationY>4331</locationY>
        <collectionReference>searchDateVehicle</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getDateVehicle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopDateAssignResult</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>RoopInsertScheduleList</name>
        <label>作成される勤務情報をループ</label>
        <locationX>1832</locationX>
        <locationY>1727</locationY>
        <collectionReference>InsertScheduleList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetDispatchAssignDrive2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsertDispatchAssignDriver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsertDispatchAssignDriver</name>
        <label>配車アサインレコードを作成</label>
        <locationX>2096</locationX>
        <locationY>2219</locationY>
        <connector>
            <targetReference>decisionDispatchVehicle</targetReference>
        </connector>
        <faultConnector>
            <targetReference>InsertDispatchAssignDriverError</targetReference>
        </faultConnector>
        <inputReference>InsertAssignList1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertDriverSchedule</name>
        <label>勤務情報を作成</label>
        <locationX>1832</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>RoopInsertScheduleList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>InsertDriverScheduleError</targetReference>
        </faultConnector>
        <inputReference>InsertScheduleList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertNewDispatchVehicleList</name>
        <label>配車車両を作成</label>
        <locationX>2030</locationX>
        <locationY>3383</locationY>
        <connector>
            <targetReference>getUpsertedDispatchVehicleList</targetReference>
        </connector>
        <inputReference>DispatchVehicleList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertNewDispatchVehicleList01</name>
        <label>配車車両を作成</label>
        <locationX>1766</locationX>
        <locationY>3707</locationY>
        <connector>
            <targetReference>getUpsertedDispatchVehicleList</targetReference>
        </connector>
        <inputReference>filterNewDispatchVehicle</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DeleteDispatchAssignDriver</name>
        <label>配車アサインレコードを削除</label>
        <locationX>195</locationX>
        <locationY>6275</locationY>
        <connector>
            <targetReference>setDriverScheduleStatus</targetReference>
        </connector>
        <inputReference>getDispatchAssignDriverToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getDispatchAssignDriver</name>
        <label>配車アサイン情報を取得</label>
        <locationX>1898</locationX>
        <locationY>2543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAssignDateList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>getDispatchAssignDriverIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <sortField>Date_F__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDispatchAssignDriverToDelete</name>
        <label>配車アサイン情報を取得(削除)</label>
        <locationX>327</locationX>
        <locationY>5951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkDispatchAssignDriverToDelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DispatchDetail__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchAssignDriver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDriverScheduleByRecordPrior2</name>
        <label>勤務情報レコードを取得２</label>
        <locationX>1254</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckLoadingAndExpectedDelivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DriverMaster__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.LoadingDate_F__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.OrderHeader__r.ExpectedDeliveryDate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DriverSchedule__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkStatus__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOldDispatchVehicle</name>
        <label>既存配車車両を取得</label>
        <locationX>1898</locationX>
        <locationY>3167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionOldDispatchVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UniqueKeyList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchVehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUpsertedDispatchVehicleList</name>
        <label>配車車両を再取得</label>
        <locationX>1898</locationX>
        <locationY>3899</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAssignDateList2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>In</operator>
            <value>
                <elementReference>UniqueKeyList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DispatchVehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>setDriverScheduleStatus</name>
        <label>勤務情報勤務に更新</label>
        <locationX>195</locationX>
        <locationY>6383</locationY>
        <connector>
            <targetReference>decisionDriverPrior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>DriverScheduleIdList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WorkStatus__c</field>
            <value>
                <stringValue>WorkDay</stringValue>
            </value>
        </inputAssignments>
        <object>DriverSchedule__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateAssignList</name>
        <label>アサイン情報を更新</label>
        <locationX>1898</locationX>
        <locationY>5231</locationY>
        <inputReference>DispatchAssignListToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDriverSchedule</name>
        <label>勤務情報配車済みに更新</label>
        <locationX>1832</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>CheckInsertScheduleList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateDriverScheduleError</targetReference>
        </faultConnector>
        <inputReference>UpdateScheduleList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOldDispatchVehicle</name>
        <label>既存の配車車両を更新</label>
        <locationX>1766</locationX>
        <locationY>3491</locationY>
        <connector>
            <targetReference>filterNewDispatchVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UniqueKey__c</field>
            <operator>In</operator>
            <value>
                <elementReference>transformUnikeyList</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsageType__c</field>
            <value>
                <stringValue>Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>DispatchVehicle__c</object>
    </recordUpdates>
    <start>
        <locationX>201</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckDriver</targetReference>
        </connector>
        <filterFormula>( (ISNEW() || ISCHANGED({!$Record.OverwriteDispatchDateTime__c}))
&amp;&amp;
NOT( ISBLANK( {!$Record.DriverMaster__c} ) ) )
|| 
ISCHANGED( {!$Record.DriverMaster__c} )
|| 
ISCHANGED( {!$Record.VehicleMaster__c})</filterFormula>
        <object>DispatchDetail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>DriverScheduleIdList</name>
        <label>勤務情報Idを取得</label>
        <locationX>195</locationX>
        <locationY>6167</locationY>
        <connector>
            <targetReference>DeleteDispatchAssignDriver</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getDispatchAssignDriverToDelete[$EachItem].DriverSchedule__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>getAssignDateList</name>
        <label>配車アサインの日付を取得</label>
        <locationX>1898</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>loopAssignDateList</targetReference>
        </connector>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getDispatchAssignDriver[$EachItem].Date_F__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>getDispatchAssignDriverIdList</name>
        <label>配車アサイン情報Idを取得</label>
        <locationX>1898</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>getDispatchAssignDriver</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>InsertAssignList1[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>transformUnikeyList</name>
        <label>既存車両の一意キーリストを変換</label>
        <locationX>1766</locationX>
        <locationY>3383</locationY>
        <connector>
            <targetReference>updateOldDispatchVehicle</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>getOldDispatchVehicle[$EachItem].UniqueKey__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Assign1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>currentItem_ChecklLoadingDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_EqualsLoadingDate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_filterNewDispatchVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>currentItem_getSameDateVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>currentItem_searchDateAssign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>currentItem_searchDateAssign_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>currentItem_searchDateVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>currentItem_searchDateVehicle_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>currentItem_searchOldDispatchVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>DispatchAssignDriverRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DispatchAssignListToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>DispatchVehicleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>DispatchVehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchVehicle__c</objectType>
    </variables>
    <variables>
        <name>ErrorDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchDetail__c</objectType>
    </variables>
    <variables>
        <name>ErrorDetailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchDetail__c</objectType>
    </variables>
    <variables>
        <name>InsertAssign1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>InsertAssign2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>InsertAssignList1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>InsertAssignList2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DispatchAssignDriver__c</objectType>
    </variables>
    <variables>
        <name>InsertSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>InsertScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>loadingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.LoadingDate_F__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LoadingDateDriverSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>ScheduleRecord1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>UniqueKeyList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
    <variables>
        <name>UpdateScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DriverSchedule__c</objectType>
    </variables>
</Flow>
