force-app/main/default/flows/VehicleInspectionBell.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BeforeVehicleInspectionExpiryNotification</name>
        <label>車検満了日が近づいて来た通知</label>
        <locationX>374</locationX>
        <locationY>1008</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CheckRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GetNotificationRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>AllUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Content</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AddMember</name>
        <label>配車課メンバーを追加</label>
        <locationX>462</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>AllUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddMemberByLoop.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddMemberByLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckRecord</name>
        <label>レコードのチェック</label>
        <locationX>374</locationX>
        <locationY>1116</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>RecordExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetVehicleMaster</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVehicleInspectionExpirationDate</targetReference>
            </connector>
            <label>レコードが存在</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Content</name>
        <dataType>String</dataType>
        <expression>{!$Record.VehicleName__c} + &quot;車検満了日の一か月前になりました。&quot;
+ &quot;点検が必要となります。ご確認お願い致します。&quot;</expression>
    </formulas>
    <formulas>
        <name>Title</name>
        <dataType>String</dataType>
        <expression>{!GetVehicleMaster.VehicleName__c} + &quot;の車検満了日が近づいてきました。&quot;</expression>
    </formulas>
    <formulas>
        <name>VehicleInspectionExpirationDatePlus1Y</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.VehicleInspectionExpirationDate__c},12)</expression>
    </formulas>
    <interviewLabel>車両の点検通知 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>車両の点検通知</label>
    <loops>
        <name>AddMemberByLoop</name>
        <label>配車課メンバーをループで追加</label>
        <locationX>374</locationX>
        <locationY>708</locationY>
        <collectionReference>GetDispatchGroupMenber</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BeforeVehicleInspectionExpiryNotification</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetDispatchGroupId</name>
        <label>配車課GroupId取得</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDispatchGroupMenber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DispatchDepartmentGroup</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDispatchGroupMenber</name>
        <label>配車課メンバーの取得</label>
        <locationX>374</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddMemberByLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDispatchGroupId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetNotificationRecord</name>
        <label>通知レコードを取得</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDispatchGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VehicleInspectionExpiryNotification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVehicleMaster</name>
        <label>車両マスタ情報取得</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNotificationRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VehicleMaster__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVehicleInspectionExpirationDate</name>
        <label>車検満了日の更新</label>
        <locationX>242</locationX>
        <locationY>1224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVehicleMaster.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VehicleInspectionExpirationDate__c</field>
            <value>
                <elementReference>VehicleInspectionExpirationDatePlus1Y</elementReference>
            </value>
        </inputAssignments>
        <object>VehicleMaster__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>AND(
	!ISBLANK({!$Record.VehicleInspectionExpirationDate__c})
	,OR(
		ISNEW()
		,ISCHANGED({!$Record.VehicleInspectionExpirationDate__c})
	)
)</filterFormula>
        <object>VehicleMaster__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>UniqueName</name>
            <connector>
                <targetReference>GetVehicleMaster</targetReference>
            </connector>
            <label>車検のベル通知ルート</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>VehicleInspectionExpirationDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
