force-app/main/default/flows/WhenAmtUpdateSendEmailFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MailToAccountingDept</name>
        <label>経理課へメール</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>InvoiceDocument__c.ClosedInvoiceAmountChangeNotificationMailge_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvoiceDocument__c.ClosedInvoiceAmountChangeNotificationMailge_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Branching</name>
        <label>ダミーレコードのチェック</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>case1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getDummyInvoiceDocument.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MailToAccountingDept</targetReference>
            </connector>
            <label>ダミー請求書を使わない</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>請求・支払明細の金額更新時に経理課へメール通知フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>請求・支払明細の金額更新時に経理課へメール通知フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getDummyInvoiceDocument</name>
        <label>ダミー請求書のID</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branching</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceDate__c</field>
            <operator>EqualTo</operator>
            <value>
                <dateValue>1900-01-01</dateValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceDocument__c</object>
        <sortField>InvoiceDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDummyInvoiceDocument</targetReference>
        </connector>
        <filterFormula>AND(
    {!$Record.InvoiceDate__c} &lt; TODAY(),
    OR(
        ISCHANGED({!$Record.InvoiceAmountTaxFree_Sum__c}),
        ISCHANGED({!$Record.InvoiceAmountTaxExcluded_Sum__c}),
        ISNEW()
    )
)</filterFormula>
        <object>InvoiceDocument__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
